@import "../../../../styles/mixins.module.scss";
@import "../../../../styles/variables.module.scss";

.mainContentWrapper {
  height: 100%;
  width: 80%;
  // background-color: lightcoral;
  display: grid;
  grid-template-rows: 8% 92%;
  grid-template-columns: 100%;
  grid-template-areas:
    "breadcrumbsWrapper"
    "contentWrapper";

  &__breadcrumbsWrapper {
    grid-area: breadcrumbsWrapper;
    @include fhw;
    border-bottom: 1px solid #d0d5dd;
  }
  &__contentWrapper {
    grid-area: contentWrapper;
    @include fhw;
  }
  @media (max-width: 768px) {
    width: 100%;
    @include transistion(left);

    &--hide {
      position: relative;
      left: 0%;
    }

    &--show {
      position: absolute;
      left: 100%;
    }
  }
}
