@import "../../../../styles/mixins.module.scss";
@import "../../../../styles/variables.module.scss";

.mainContentWrapper {
  height: 100%;
  width: 80%;
  // background-color: lightcoral;
  display: grid;
  grid-template-rows: 8% 92%;
  grid-template-columns: 100%;
  grid-template-areas:
    "breadcrumbsWrapper"
    "contentWrapper";

  &__breadcrumbsWrapper {
    grid-area: breadcrumbsWrapper;
    @include fhw;
    border-bottom: 1px solid #d0d5dd;
  }
  &__contentWrapper {
    grid-area: contentWrapper;
    @include fhw;
    padding: 20px 20px;
    // border: 1px solid black;
    p {
      margin-bottom: 10px;
      line-height: 2;
      color: #1c3553;
      font-size: 0.8rem;
      word-break: break-all;
      // border: 1px solid blue;
      width: 80%;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-top: 20px;
      margin-bottom: 25px;
      font-weight: bold;
      color: #101828;
      position: relative;
      &::after {
        position: absolute;
        content: "";
        left: 0px;
        bottom: -10px;
        background-color: #635db0;
        width: 10%;
        height: 3px;
        border-radius: 8px;
      }
    }

    pre {
      background-color: #011627;
      padding: 20px 20px;
      border-radius: 5px;
      @include scroll($dir: x);
      margin-top: 20px;
      margin-bottom: 20px;
      position: relative;
      overflow-x: scroll;

      &::-webkit-scrollbar {
        display: none;
      }
      code {
        border-radius: 4px;
        color: white !important;
        background-color: transparent !important;
        padding: 0px !important;
        // border: 1px solid red;
        // display: none;
        @include scroll($dir: x);
      }
    }

    blockquote {
      margin: 0;
      padding-left: 10px;
      border-left: 3px solid #ccc;
      color: #666;
    }

    ul,
    ol {
      margin-bottom: 10px;
      padding-left: 20px;
      word-break: break-all;
    }
    li {
      color: #1c3553;
      font-size: 0.8rem;
      word-break: break-all;
    }
    code {
      color: #f0142f;
      background-color: #ffe4e8;
      padding: 2px 8px;
      border-radius: 3px;
      border-radius: 5px;
    }

    hr {
      margin-top: 20px;
      margin-bottom: 20px;
    }

    figcaption {
      font-size: 0.6rem;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  @media (max-width: 768px) {
    width: 100%;
    @include transistion(left);

    &--hide {
      position: relative;
      left: 0%;
    }

    &--show {
      position: absolute;
      left: 100%;
    }
  }
}
