@import "../../../../styles/mixins.module";
@import "../../../../styles/themes.module";

.adminLayoutWrapper {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-areas:
    "sidebarCell breadcrumbsCell"
    "sidebarCell tabsbarCell"
    "sidebarCell subPagesCell";
  grid-template-columns: 15% 85%;
  grid-template-rows: 50px 50px minmax(0, 1fr);

  // @include themed() {
  //   border-top: 1px solid t(division-border-color);
  // }

  @media (max-width: 768px) {
    grid-template-areas:
      "sidebarCell breadcrumbsCell"
      "sidebarCell tabsbarCell"
      "sidebarCell subPagesCell";
    grid-template-columns: 0 100%;
    grid-template-rows: 50px 50px minmax(0, 1fr);
  }

  .sidebarCell {
    @include fhw;
    grid-area: sidebarCell;
    @include themed() {
      border-right: 1px solid t(division-border-color);
    }

    @media (max-width: 768px) {
      display: none;
    }
  }
  .breadcrumbsCell {
    @include fhw;
    grid-area: breadcrumbsCell;
    @include themed() {
      border-bottom: 1px solid t(division-border-color);
    }
  }
  .tabsbarCell {
    @include fhw;
    grid-area: tabsbarCell;
    @include themed() {
      border-bottom: 1px solid t(division-border-color);
    }
  }
  .subPagesCell {
    @include fhw;
    grid-area: subPagesCell;
    @include flex-container(flex-start, flex-start);
  }
}
