@import "../../../styles/mixins.module";
@import "../../../styles/themes.module";

.layoutWrapper {
  @include fhw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  // border: 1px solid blue;

  .layoutHeader {
    width: 100%;
    height: 40px;
    // border: 1px solid green;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    @include division-border();
    box-sizing: border-box;
    padding-left: 15px;
  }

  .layoutScrollWrapper {
    width: 98%;
    height: calc(100% - 40px);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    // border: 1px solid red;
    @media (max-width: 768px) {
      @include scroll($dir: y);
      padding: 10px 10px;
    }

    .layoutGrid {
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-areas:
        "statsCell graphCell"
        "subPageCell bookmarksCell";
      grid-template-columns: 50% 50%;
      grid-template-rows: 40% 60%;
      // border: 1px solid blue;
      @media (max-width: 768px) {
        width: 100%;
        height: auto;
        display: grid;
        grid-template-areas:
          "statsCell"
          "graphCell"
          "subPageCell"
          "bookmarksCell";
        grid-template-columns: 100%;
        grid-template-rows: auto auto 60vh 80vh;
      }
    }
    .statsCell {
      grid-area: statsCell;
      @include fhw;
      // border: 1px solid slateblue;
      @include small-device {
        min-height: 100px;
      }
    }
    .graphCell {
      grid-area: graphCell;
      @include fhw;
      @media (max-width: 768px) {
        width: 100%;
        aspect-ratio: 1/1;
      }
    }
    .subPageCell {
      grid-area: subPageCell;
      @include fhw;
      // border: 1px solid lightskyblue;
    }
    .bookmarksCell {
      grid-area: bookmarksCell;
      @include fhw;
      // border: 1px solid lightseagreen;
    }
  }
}

.cellLayout {
  @include fhw;
  //   border: 1px solid red;
  @include flex(top, left, column);

  .cellHeader {
    width: 100%;
    height: 50px;
    @include flex(center, left);
    // border: 1px solid blue;
    padding: 0px 8px;
  }
  .cellMain {
    width: 100%;
    height: calc(100% - 50px);
    @include flex(center, center);

    .graphContainer {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      // border: 1px solid green;
    }
  }
}

.titleWrapper {
  width: auto;
  height: 80%;
  // border: 1px solid red;
  @include flex(top, left, column);

  .titleDiv {
    width: auto;
    height: calc(100% - 10px);
    @include flex(center, left);

    p {
      font-size: 0.8rem;
      @include themed() {
        color: t(primary-color);
      }
      letter-spacing: 4px;
      font-weight: 600;
      @include small-device {
        font-size: clamp(
          0.8rem,
          0.40000000000000013rem + 1.9999999999999998vw,
          1rem
        ) !important;
      }
    }

    .headerLink {
      p {
        @include themed() {
          color: t(secondary-color);
        }
      }

      &--active {
        p {
          @include themed() {
            color: t(primary-color);
          }
        }
      }
    }
  }
  .titleLine {
    width: 100%;
    height: 10px;
    // border: 1px solid blue;
    @include flex(center, left);
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 25px;
      height: 3px;
      border-radius: 5px;
      @include themed() {
        background-color: t(app-scheme-color);
      }
    }
  }
}
.titleWrapperLastChild {
  margin-left: 20px;
}

.breadCrumbsContainer {
  width: auto;
  height: 80%;
  // border: 1px solid red;
  @include flex-container(flex-start, center);
  &:last-child {
    margin-left: 8px;
  }
  .link {
    width: auto;
    height: 100%;
    @include flex-container(flex-start, center);

    @media (max-width: 768px) {
      max-width: 150px;
      overflow: hidden;
    }

    p {
      font-size: 0.8rem;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      font-weight: 500;
      @include themed() {
        color: t(primary-color);
      }
      &:hover {
        text-decoration: underline;
      }
      @include small-device {
        font-size: clamp(
          0.7rem,
          -0.10000000000000031rem + 4.000000000000002vw,
          1.1rem
        ) !important;
      }
    }
  }
  .chevIconContainer {
    height: 100%;
    aspect-ratio: 1/2;
    @include flex-container(center, center);
    // border: 1px solid orange;

    .chevIconDiv {
      width: 70%;
      aspect-ratio: 1/1;
      @include flex-container(center, center);
      // border: 1px solid orange;
    }
  }
}
