@import "../../../styles/variables.module";
@import "../../../styles/mixins.module";

.topicPageWrapper {
  @include fhw;
  // border: 1px solid red;
  @include flex-container(center, center);

  &__pageInnerWrapper {
    position: relative;
    width: 100%;
    height: 100%;
    // border: 1px solid red;
    overflow: hidden;
    @include flex-container(center, center);
  }
}
