@import "../../../../styles/mixins.module.scss";
@import "../../../../styles/variables.module.scss";
@import "../../../../styles/themes.module.scss";

.accordHeaderWrapper {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;

  .headerTitleDiv {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    width: 80%;
    position: relative;
    // border: 1px solid blue;
    box-sizing: border-box;
    padding: 5px 0px;
    p {
      font-size: 1.2rem;
      font-weight: 500;
      @include themed() {
        color: t(primary-color);
      }
      @include small-device {
        font-size: clamp(
          1.2rem,
          -0.40000000000000013rem + 8vw,
          2rem
        ) !important;
      }
    }
    &::after {
      position: absolute;
      content: "";
      height: 2px;
      width: 20px;
      @include themed() {
        background-color: t(app-scheme-color);
      }
      border-radius: 5px;
      bottom: 0px;
    }
  }
}
.mainList {
  width: 100%;
  height: 80%;
  min-height: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  @include scroll($dir: y);
  &__chapterWrapper {
    width: 100%;
    height: 40px;
    min-height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 10px;
    padding: 0;
    .chapterNameWrapper {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      p {
        @include themed() {
          color: t(accordion-chapter-color);
        }
        font-size: 0.85rem;

        margin-left: 9%;
        // font-weight: 500;

        @include small-device {
          font-size: clamp(
            0.7rem,
            -0.30000000000000004rem + 5vw,
            1.2rem
          ) !important;
        }
      }
    }
  }

  &__subListWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    @include transistion(all, 0.5s);
    padding: 0px;
    overflow-y: hidden;
    align-items: flex-end;

    .topicNameWrapper {
      width: 100%;
      height: 40px;
      min-height: 40px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      position: relative;
      z-index: 1;
      // border: 1px solid #272929;

      .indicatorDiv {
        height: 100%;
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        // border: 1px solid white;
        z-index: 2;

        .indicatorLine {
          width: 1px;
          height: 100%;

          @include themed() {
            background-color: t(accordion-line);
          }
          position: relative;

          &--active {
            &::before {
              content: "";
              width: 2px;
              min-width: 2px;
              position: absolute;
              height: 40%;
              @include themed() {
                background-color: t(accordion-indicator);
              }
              top: 0;
              bottom: 0;
              left: -0.5px;
              margin-top: auto;
              margin-bottom: auto;
            }
          }
        }

        .checkedIconDiv {
          height: 30%;
          aspect-ratio: 1/1;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
      .topicTitleDiv {
        width: 80%;
        height: 100%;
        display: flex;
        // border: 1px solid red;
        justify-content: flex-start;
        align-items: center;
        z-index: 2;

        p {
          @include themed() {
            color: t(accordion-topic-color);
            font-weight: t(topic-p-weight);
          }
          font-size: 0.85rem;
          margin-left: 0px;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          width: 80%;

          @include small-device {
            font-size: clamp(
              0.7rem,
              -0.30000000000000004rem + 5vw,
              1.2rem
            ) !important;
          }
        }
      }

      &:hover {
        p {
          // color: #e67e4e !important;
          color: #ab9ef6 !important;
          z-index: 1;
        }

        &::after {
          content: "";
          width: 95%;
          position: absolute;
          height: 100%;
          // background-color: #34201d4f;
          background-color: #13131a;
          z-index: 1;
          left: 0px;
          right: 0px;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }
}
