@import "../../../../styles/mixins.module.scss";
@import "../../../../styles/variables.module.scss";

.itemWrapper {
  width: 80%;
  // border: 1px solid black;
  height: 40px;
  min-height: 40px;
  margin-top: 10px;
  overflow: hidden;
  @include transistion(min-height, 0.3s);

  &__titleWrapper {
    width: 100%;
    height: 40px;
    // border: 1px solid red;
    @include flex-container(flex-start, center);
    padding-left: 2px;
    cursor: pointer;
    p {
      font-size: 0.9rem;
      // font-weight: 500;
      text-overflow: ellipsis;
      overflow-x: hidden;
      white-space: nowrap;
    }
  }
  &__subTitleWrapper {
    width: 100%;
    height: 40px;
    @include flex-container(flex-start, center);
    padding-left: 8px;
    cursor: pointer;
    // border: 1px solid blue;
    overflow: hidden;

    .lineDiv {
      width: 20px;
      height: 100%;
      // border: 1px solid orange;
      @include flex-container(center, center);
      position: relative;

      .dotDiv {
        width: 3px;
        aspect-ratio: 1/2;
        background-color: #635db0;
        // border-radius: 50%;
      }

      &::after {
        position: absolute;
        content: "";
        height: 40%;
        width: 1px;
        background-color: #a4adbb;
        border-radius: 5px;
        top: -10%;
        z-index: 999;
      }
    }

    .linkDiv {
      width: calc(100% - 20px);
      height: 100%;
      // border: 1px solid black;
      @include flex-container(flex-start, center);
      overflow: hidden;

      .linkElement {
        width: 100%;
        height: 100%;
        @include flex-container(flex-start, center);

        .topicTitleText {
          font-size: 0.8rem;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;

          &:hover {
            color: #635db0;
          }
        }
        .topicActive {
          color: #635db0;
        }
        .topicInactive {
          color: #919295;
        }
      }
    }
  }
}
