@import "../../../../styles/mixins.module.scss";
@import "../../../../styles/variables.module.scss";
@import "../../../../styles/themes.module.scss";

.accordHeaderWrapper {
  width: 100%;
  height: 10%;
  // border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;

  .headerTitleDiv {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    width: 80%;
    position: relative;
    // border: 1px solid blue;
    box-sizing: border-box;
    padding: 5px 0px;
    p {
      font-size: 1.2rem;
      font-weight: 500;
      @include themed() {
        color: t(primary-color);
      }
      @include small-device {
        font-size: clamp(
          1.2rem,
          -0.40000000000000013rem + 8vw,
          2rem
        ) !important;
      }
    }
    &::after {
      position: absolute;
      content: "";
      height: 3px;
      width: 20px;
      @include themed() {
        background-color: t(app-scheme-color);
      }
      border-radius: 5px;
      bottom: 0px;
    }
  }
}
.mainList {
  width: 100%;
  height: 80%;
  min-height: 80%;
  // border: 1px solid skyblue;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  @include scroll($dir: y);

  &__chapterWrapper {
    width: 80%;
    height: 40px;
    min-height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    // border: 1px solid salmon;
    .chapterNameWrapper {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      p {
        color: white;
        font-size: 0.9rem;
      }
    }
  }

  &__subListWrapper {
    width: 100%;
    // height: 120px;
    display: flex;
    flex-direction: column;
    @include transistion(height, 0.5s);
    // border: 1px solid salmon;
    padding: 0px;
    margin-bottom: 10px;
    overflow-y: hidden;
    align-items: flex-end;

    .topicNameWrapper {
      width: 90%;
      height: 40px;
      min-height: 40px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      position: relative;
      z-index: 1;

      p {
        color: #aaacb3;
        font-size: 0.8rem;
        margin-left: 20px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 80%;
      }

      &--showIndicator {
        border-left: 1px solid #272929;
      }
      &--active {
        &::before {
          content: "";
          width: 2px;
          min-width: 2px;
          position: absolute;
          left: -1.5px;
          height: 50%;
          background-color: white;
          z-index: 2;
        }
      }

      &:hover {
        p {
          color: #e67e4e;
          z-index: 4;
        }
        &::before {
          content: "";
          width: 2px;
          position: absolute;
          left: -1.5px;
          height: 50%;
          background-color: salmon;
          z-index: 3;
        }
        &::after {
          content: "";
          width: calc(100%);
          position: absolute;
          height: 100%;
          background-color: #34201d4f;
          z-index: 1;
          left: -10px;
        }
      }
    }
  }
}
