@import "../../../../styles/mixins.module.scss";
@import "../../../../styles/variables.module.scss";

.itemWrapper {
  width: 80%;
  // border: 1px solid black;
  height: 40px;
  min-height: 40px;
  margin-top: 10px;
  overflow: hidden;

  &__titleWrapper {
    width: 100%;
    height: 40px;
    // border: 1px solid red;
    @include flex-container(flex-start, center);
    padding-left: 2px;
    cursor: pointer;
    overflow: hidden;

    p {
      font-size: 0.9rem;
      // font-weight: 500;
      text-overflow: ellipsis;
      overflow-x: hidden;
      white-space: nowrap;
      color: #101828;
    }
  }
  &__subTitleWrapper {
    width: 100%;
    height: 40px;
    cursor: pointer;
    display: grid;
    grid-template-areas:
      "iconCell subTitleCell"
      "lineCell lineCell";
    grid-template-columns: auto minmax(0, 1fr);
    grid-template-rows: 30px 10px;
    box-sizing: border-box;
    // border: 1px solid red;
    overflow: hidden;
    .iconCell {
      grid-area: iconCell;
      // border: 1px solid red;
      height: 100%;
      aspect-ratio: 1/1;
      @include flex-container(center, center);
      .iconDiv {
        aspect-ratio: 1/1;
        width: 50%;
        // border: 1px solid rebeccapurple;
        @include flex-container(center, center);

        .dotIcon {
          width: 4px;
          aspect-ratio: 1/1;
          border-radius: 100%;
          background-color: #a4adbb;
        }
      }
    }
    .subTitleCell {
      grid-area: subTitleCell;
      @include fhw;
      // border: 1px solid green;
      @include flex-container(flex-start, center);
      .link {
        width: 100%;
        height: 100%;
        @include flex-container(flex-start, center);
        overflow: hidden;

        .topicTitleText {
          font-size: 0.8rem;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;

          &:hover {
            color: #635db0;
          }
        }
        .topicActive {
          color: #635db0;
          font-weight: 500;
        }
        .topicInactive {
          color: #6b7584;
          font-weight: 500;
        }
      }
    }
    .lineCell {
      grid-area: lineCell;
      @include fhw;
      // border: 1px solid blue;
      @include flex-container(flex-start, center);
      .lineDiv {
        width: 30px;
        height: 100%;
        @include flex-container(center, center);
        // border: 1px solid red;

        &::after {
          content: "";
          background-color: #a4adbb;
          width: 2px;
          height: 100%;
        }
      }
    }
  }
}
