@import "../../../../styles/mixins.module.scss";
@import "../../../../styles/variables.module.scss";

.itemWrapper {
  width: 80%;
  // border: 1px solid black;
  height: 40px;
  min-height: 40px;
  margin-top: 1%;
  margin-bottom: 1%;
  overflow: hidden;
  @include transistion(all, 0.5s);

  &__titleWrapper {
    width: 100%;
    height: 40px;
    // border: 1px solid red;
    @include flex-container(flex-start, center);
    padding-left: 2px;
    cursor: pointer;
    overflow: hidden;

    p {
      font-size: 0.9rem;
      // font-weight: 500;
      text-overflow: ellipsis;
      overflow-x: hidden;
      white-space: nowrap;
      color: #101828;
      @include small-device {
        font-size: clamp(
          1rem,
          -0.20000000000000018rem + 6.000000000000001vw,
          1.6rem
        ) !important;
      }
    }
  }
  &__subTitleWrapper {
    width: 100%;
    height: 50px;
    cursor: pointer;
    display: grid;
    grid-template-areas:
      "lineCell lineCell"
      "iconCell subTitleCell";
    grid-template-columns: auto minmax(0, 1fr);
    grid-template-rows: 15px 35px;
    box-sizing: border-box;
    // border: 1px solid red;
    overflow: hidden;
    .iconCell {
      grid-area: iconCell;
      // border: 1px solid red;
      height: 100%;
      aspect-ratio: 1/1;
      @include flex-container(center, center);
      .iconDiv {
        aspect-ratio: 1/1;
        width: 40%;
        // border: 1px solid rebeccapurple;
        @include flex-container(center, center);

        .dotIcon {
          width: 0.23rem;
          aspect-ratio: 1/1;
          border-radius: 100%;
          background-color: #a4adbb;
        }
      }
    }
    .subTitleCell {
      grid-area: subTitleCell;
      @include fhw;
      // border: 1px solid green;
      @include flex-container(flex-start, center);
      .link {
        width: 100%;
        height: 100%;
        @include flex-container(flex-start, center);
        overflow: hidden;

        .topicTitleText {
          font-size: 0.8rem;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          @include small-device {
            font-size: clamp(
              0.8rem,
              -0.3999999999999997rem + 5.999999999999998vw,
              1.4rem
            ) !important;
          }

          &:hover {
            color: #635db0;
          }
        }
        .topicActive {
          color: #635db0;
          font-weight: 500;
        }
        .topicInactive {
          color: #6b7584;
          font-weight: 500;
        }
      }
    }
    .lineCell {
      grid-area: lineCell;
      @include fhw;
      // border: 1px solid blue;
      @include flex-container(flex-start, center);
      .lineDiv {
        width: 35px;
        height: 100%;
        @include flex-container(center, center);
        // border: 1px solid red;

        &::after {
          content: "";
          background-color: #a4adbb;
          width: 0.1rem;
          height: 100%;
        }
      }
    }
  }
}
