@import "../../../.././styles/mixins.module";
@import "../../../.././styles/variables.module";
@import "../../../.././styles/themes.module";
.sidebarWrapper {
  width: 20%;
  height: 100%;
  // background-color: skyblue;
  // background-color: #17171A;
  @include themed() {
    border-right: 1px solid t(division-border-color);
  }
  &__sidebarHeader {
    width: 100%;
    height: 8%;
    @include flex-container(flex-end, center);
    // @Include division-border();

    .toggleIconDiv {
      display: none;
      height: 35%;
      aspect-ratio: 1/1;
      box-sizing: border-box;

      @media (max-width: 768px) {
        @include flex-container(center, center);
      }
    }
  }

  @media (max-width: 768px) {
    width: 100%;
    @include transistion(left);

    &--hide {
      position: absolute;
      left: -100%;
    }

    &--show {
      position: relative;
      left: 0%;
    }
  }
}
