@import "../../../../styles/mixins.module";
@import "../../../../styles/themes.module";

.card {
  width: 280px;
  aspect-ratio: 3/1.9;
  margin: 2% 2%;
  display: grid;
  grid-template-areas:
    "chapterNumWrapper chapterNumWrapper bookmarkIconWrapper"
    "titleWrapper titleWrapper titleWrapper"
    "topicsListWrapper topicsListWrapper linkBtnWrapper"
    "topicsCountWrapper durationWrapper linkBtnWrapper";
  grid-template-columns: 35% 35% 30%;
  grid-template-rows: 15% 20% 45% 20%;
  padding: 0.8rem;
  box-sizing: border-box;
  @include themed() {
    background-color: t(card-bg-primary);
    box-shadow: t(card-box-shadow-primary);
  }
  @include card-box-shadow;

  @media (max-width: 768px) {
    width: 85% !important;
    aspect-ratio: 3/1.8;
    margin-left: auto;
    margin-right: auto;
  }

  &__chapterNumWrapper {
    grid-area: chapterNumWrapper;
    @include fhw;
    // border: 1px solid red;
    @include flex-container(flex-start, center);
    padding: 5px 0px;
  }
  &__bookmarkIconWrapper {
    // border: 1px solid red;
    grid-area: bookmarkIconWrapper;
    @include fhw;
  }
  &__titleWrapper {
    // border: 1px solid red;
    @include flex-container(flex-start, center);
    grid-area: titleWrapper;
    @include fhw;
    padding: 5px 0px;
  }
  &__topicsListWrapper {
    grid-area: topicsListWrapper;
    @include fhw;
    // border: 1px solid salmon;
    @include scroll($dir: y, $display: none);
    @include flex-container(flex-start, center);

    .listInnerWrapper {
      width: 95%;
      height: 70%;
      // border: 1px solid black;
      @include flex-container($direction: column);
      @include scroll($dir: y, $display: none);

      div {
        width: 100%;
        flex: 1;
        // border: 1px solid red;
        margin-top: 5px;
      }
    }
  }
  &__topicsCountWrapper {
    grid-area: topicsCountWrapper;
    @include fhw;
    // border: 1px solid cyan;
    padding: 5px 0px;
  }
  &__durationWrapper {
    grid-area: durationWrapper;
    @include fhw;
    // border: 1px solid greenyellow;
    padding: 5px 0px;
  }
  &__linkBtnWrapper {
    grid-area: linkBtnWrapper;
    @include fhw;
    // border: 1px solid black;
    @include flex-container(flex-end, flex-end);

    .buttonWrapper {
      width: 60%;
      aspect-ratio: 1/1;
      // border: 1px solid black;
    }
  }
}
