@import "../../../../styles/mixins.module";

.card {
  width: 180px;
  aspect-ratio: 2/2.5;
  margin: 2% 2%;
  display: grid;
  grid-template-areas:
    "logoWrapper linkBtnWrapper"
    "titleWrapper titleWrapper"
    "descWrapper descWrapper"
    "chapterWrapper durationWrapper";
  grid-template-columns: 50% 50%;
  grid-template-rows: auto 20% 30% 15%;
  padding: 0.8rem;
  box-sizing: border-box;
  background-color: white;
  @include card-bg-shadow;

  @media (max-width: 768px) {
    width: 90% !important;
    aspect-ratio: 1/1.4;
    margin-left: auto;
    margin-right: auto;
  }

  &:hover {
    box-shadow: $card-hover-box-shadow;
  }

  &__logoWrapper {
    grid-area: logoWrapper;
    // @include fhw;
    width: 100%;
    // border: 1px solid red;
    aspect-ratio: 1/1;
    position: relative;

    div {
      width: 100%;
      aspect-ratio: 1/1;
      @include flex-container(flex-start, center);
      // border: 1px solid blue;
      border-radius: 10px;
      overflow: hidden;
      position: relative;
      // border: 1px solid #d3cee9;
    }
  }

  &__linkBtnWrapper {
    grid-area: linkBtnWrapper;
    @include fhw;
    @include flex-container(flex-end, flex-start);
    // border: 1px solid red;

    .buttonWrapper {
      aspect-ratio: 1/1;
      @include flex-container(center, center);
      width: 55%;
    }
  }

  &__titleWrapper {
    grid-area: titleWrapper;
    @include fhw;
    // overflow: hidden;
    // position: relative;
    padding: 10px 0px;
    overflow: hidden;
  }

  &__descWrapper {
    grid-area: descWrapper;
    @include fhw;
    @include flex-container(flex-start, flex-start);
    position: relative;
    // border: 1px solid red;
    padding: 10px 0px;
  }

  &__chapterWrapper {
    grid-area: chapterWrapper;
    @include fhw;
    @include flex-container(center, center);
    // border: 1px solid black;
    &__innerDiv {
      width: 100%;
      height: 80%;
      // border: 1px solid black;
    }
  }

  &__durationWrapper {
    grid-area: durationWrapper;
    @include fhw;
    @include flex-container(center, center);
    // border: 1px solid red;
    &__innerDiv {
      width: auto;
      height: 80%;
      // border: 1px solid black;
    }
  }
}
