@import "../../../../styles/mixins.module";

.formWrapper {
  width: 100%;
  height: 100%;
  // border: 1px solid red;
  padding: 10px 20px;
  @media (max-width: 768px) {
    @include flex-container(center, center);
  }
  .formGrid {
    // border: 1px solid red;
    width: 80%;
    height: 100%;
    display: grid;
    grid-template-areas:
      "titleCell"
      "statusCell"
      "buttonCell";
    grid-template-columns: 100%;
    grid-template-rows: 130px 120px 50px;
    grid-gap: 5px;

    @media (max-width: 768px) {
      width: 100%;
      height: 85%;
      grid-gap: unset;
      grid-column-gap: 10px;
    }

    &__titleCell {
      grid-area: titleCell;
      // border: 1px solid #b4b2b2;
      // padding: 5px;
      height: 100%;
      width: 100%;
    }

    &__statusCell {
      grid-area: statusCell;
      // border: 1px solid #b4b2b2;
      // padding: 5px;
      width: 100%;
    }
    &__buttonCell {
      grid-area: buttonCell;
      border: 1px solid #b4b2b270;
      @include fhw;
      @include flex-container(flex-end, center);
      border-radius: 8px;

      padding: 5px;
      .button {
        height: 30px;
        width: 100px;
        padding-left: 10px;
        padding-right: 10px;
        outline: none;
        border: none;
        color: white;
        cursor: pointer;
        border: 1px solid #d0d5dd37;

        &:disabled {
          background-color: $app-scheme-color;
          cursor: not-allowed;
        }

        .spinnerDiv {
          // border: 1px solid red;
          height: 80%;
          @include flex-container(center, center);
        }
      }
    }
  }
}

.inputGroup {
  width: 100%;
  height: calc(100% - 30px);
  background-color: white;
  border: 1px solid #b4b2b270;
  border-radius: 8px;
  overflow: hidden;
  padding: 10px;
  @include flex-container(flex-start, center, $direction: column);
  // border: 1px solid red;
  &__labelTag {
    width: 100%;
    height: 30px;
    // border: 1px solid red;
    padding: 0px 5px;
    @include flex-container(flex-start, center);
    .labelTextDiv {
      width: 80px;
      height: 15px;
      //   border: 1px solid red;
      display: flex;
      border: 1px solid #d0d5dd37;
      border-radius: 10px;
      overflow: hidden;
    }
  }

  &__inputField {
    width: 100%;
    height: calc(100% - 30px);
    border: none;
    outline: none;
    padding: 0px 10px;
    background-color: #f2f4f7;
    border-radius: inherit;
    font-weight: 500;
    display: flex;
    align-items: center;
    .inputTextDiv {
      width: 200px;
      height: 15px;
      display: flex;
      border: 1px solid #d0d5dd37;
      border-radius: 10px;
      overflow: hidden;
    }
  }
}

.errorGroup {
  width: 100%;
  height: 30px;
  // border: 1px solid #b4b2b25c;
  @include flex-container(flex-start, center);
  overflow: hidden;
  max-width: 100%;
}

.statusInputGroup {
  @include flex-container(flex-start, center, $direction: column);
  &__labelDiv {
    width: 100%;
    height: 30px;
    .labelTextDiv {
      width: 80px;
      height: 15px;
      //   border: 1px solid red;
      display: flex;
      border: 1px solid #d0d5dd37;
      border-radius: 10px;
      overflow: hidden;
    }
  }
  &__inputBtnWrapper {
    width: 100%;
    height: calc(100% - 30px);
    @include flex-container(flex-start, center);
    input {
      display: none;
    }

    .btnWrapper {
      width: auto;
      height: 80%;
      padding: 0px 10px 0px 10px;
      border-radius: 8px;
      @include flex-container(center, center);
      border: 1px solid #b4b2b25c;
      cursor: pointer;

      &:last-child {
        margin-left: 20px;
      }

      &--activeBtn {
        border: 1px solid #789980;
        background-color: #deeedc;
        color: #789980;
      }

      &--inactiveBtn {
        margin-left: 10px;
        border: 1px solid #d27e67;
        background-color: #fde7ea;
        color: #d5765c;
      }

      .radioDotDiv {
        height: 100%;
        aspect-ratio: 1/2;
        @include flex-container(center, center);
        margin-right: 5px;

        .radioDot {
          aspect-ratio: 1/1;
          width: 70%;
          border-radius: 50%;
          //   background-color: #a4adbb;
          overflow: hidden;
          border: 1px solid #d0d5dd37;

          &--activeDot {
            background-color: #789980 !important;
          }
          &--inactiveDot {
            background-color: #d27e67 !important;
          }
        }
      }

      .statusLabelDiv {
        height: 10px;
        width: 40px;
        // border: 1px solid red;
      }
    }
  }
}
