@import "../../../styles/mixins.module";
.pageWrapper {
  width: 100%;
  height: 100%;
  @include flex-container(center, flex-start);
  position: relative;
  // border: 1px solid red;
}
.signUpFormWrapper {
  position: absolute;
  width: 300px;
  aspect-ratio: 2/2.9;
  @include flex-container(flex-start, center, $direction: column);
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  margin-top: 20px;
  padding: 10px 10px;

  @include small-device {
    width: 80%;
  }
  .formContainer {
    @include fhw;
    // border: 1px solid red;
    display: grid;
    grid-template-areas:
      "headerCell"
      "messageCell"
      "fullNameCell"
      "emailCell"
      "countryCell"
      "buttonCell"
      "footerCell";

    grid-template-columns: 100%;
    grid-template-rows:
      30px 30px minmax(0, 1fr) minmax(0, 1fr)
      minmax(0, 1fr) 50px 30px;

    .headerCell {
      grid-area: headerCell;
      @include fhw;
      // border: 1px solid red;
      @include flex-container(flex-end, center);
      .closeLink {
        height: 80%;
        width: auto;
        @include flex-container(center, center);
        // border: 1px solid red;
        .closeIconDiv {
          height: 80%;
          aspect-ratio: 1/1;
          @include flex-container(center, center);
          background-color: $app-scheme-color;
          border-radius: 50%;
        }
      }
    }
    .messageCell {
      grid-area: messageCell;
      @include fhw;
      // border: 1px solid red;
      @include flex-container(center, center);

      .messageDiv {
        width: auto;
        height: auto;
        padding: 3px 10px;
        border-radius: 5px;
        background-color: #fde7ea;
        p {
          font-size: 0.7rem;
          color: #f0142f;
        }
      }
    }
    .fullNameCell {
      grid-area: fullNameCell;
      @include fhw;
      @include flex-container(flex-start, center, $direction: column);
      padding: 0px 10px;
    }
    .emailCell {
      grid-area: emailCell;
      @include fhw;
      @include flex-container(flex-start, center, $direction: column);
      padding: 0px 10px;
    }
    .countryCell {
      grid-area: countryCell;
      @include fhw;
      @include flex-container(flex-start, center, $direction: column);
      padding: 0px 10px;
    }
    .buttonCell {
      grid-area: buttonCell;
      @include fhw;
      @include flex-container(center, center);

      .buttonWrapper {
        height: 80%;
        width: auto;
        @include flex-container(flex-start, center);
        background: none;

        .submitButton {
          height: 100%;
          aspect-ratio: 1/1;
          @include flex-container(center, center);
          cursor: pointer;
          background: none;
          outline: none;
          border: none;
          border-radius: 50%;
          background-color: $app-scheme-color;
        }
        .textDiv {
          width: auto;
          height: 100%;
          @include flex-container(center, center);
          // border: 1px solid blue;
          padding: 0px 5px;

          p {
            font-size: 1.2rem;
            color: #101828;
            font-weight: 500;
            @include small-device {
              font-size: clamp(
                1.5rem,
                0.09999999999999964rem + 7.000000000000002vw,
                2.2rem
              ) !important;
            }
            span {
              color: #7e8da4;
            }
          }
        }
      }
    }
    .footerCell {
      grid-area: footerCell;
      @include fhw;
      @include flex-container(center, center);
      p {
        font-size: 0.9rem;
        color: #101828;
        @include small-device {
          font-size: clamp(
            0.7rem,
            0.09999999999999987rem + 3.0000000000000004vw,
            1rem
          ) !important;
        }
      }
      .footerLink {
        margin-left: 5px;
        p {
          font-size: 0.9rem;
          color: $app-scheme-color;
          font-weight: 600;
          &:hover {
            text-decoration: underline;
          }
          @include small-device {
            font-size: clamp(
              0.7rem,
              0.09999999999999987rem + 3.0000000000000004vw,
              1rem
            ) !important;
          }
        }
      }
    }
  }
}

.inputGroup {
  width: 100%;
  height: calc(100% - 30px);
  background-color: #e7effc;
  padding: 0px 15px;
  padding: 5px;
  border-radius: 12px;

  display: grid;
  grid-template-columns: auto minmax(0, 1fr);
  grid-template-rows: 50% 50%;
  grid-template-areas:
    "iconCell labelCell"
    "iconCell inputCell";

  .iconCell {
    grid-area: iconCell;
    @include flex-container(flex-container, center);
    height: 100%;
    aspect-ratio: 1/1;
    padding: 12px;
    .iconWrapper {
      height: 100%;
      aspect-ratio: 1/1;
      @include flex-container(center, center);
      .iconDiv {
        width: 100%;
        height: 100%;
        @include flex-container(center, center);
      }
    }
  }

  .labelCell {
    grid-area: labelCell;
    @include flex-container(flex-start, center);
    label {
      @include flex-container(flex-start, center);
      width: 100%;
      height: 100%;
      p {
        font-size: 0.65rem;
        color: #7e8da4;
        color: #101828;
        letter-spacing: 1px;
        font-weight: 500;

        @include small-device {
          font-size: clamp(
            0.7rem,
            0.19999999999999996rem + 2.5vw,
            0.95rem
          ) !important;
        }
      }
    }
  }
  .inputCell {
    grid-area: inputCell;
    @include flex-container(flex-start, center);
    input {
      border: none;
      outline: none;
      padding-left: 0px;
      width: 100%;
      height: 100%;
      background: none;
      @include small-device {
        font-size: clamp(
          0.7rem,
          0.19999999999999996rem + 2.5vw,
          0.95rem
        ) !important;
      }

      &::placeholder {
        color: #c2c2c2;
        font-size: 0.7rem;
        font-style: italic;
        @include small-device {
          font-size: 0.8rem;
        }
      }
    }
  }
}

.errorGroup {
  width: 100%;
  height: 30px;
  @include flex-container(flex-start, center);
  padding-left: 8px;
  p {
    color: #a82525;
    font-size: 0.65rem;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
