@import "../../../../styles/mixins.module";
@import "../../../../styles/variables.module";
@import "../../../../styles/themes.module";

$fontSize: 0.9rem;
$codeFontSize: 0.9rem;

.contentWrapper {
  width: 100%;
  height: 100%;
  // border: 1px solid blue;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  .topicHeaderWrapper {
    width: 100%;
    height: 40px;
    @include themed() {
      border-bottom: 1px solid t(division-border-color);
    }

    padding: 0px 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    @media (max-width: 768px) {
      padding-right: unset;
      padding: 0px 20px;
      justify-content: flex-start;
    }

    .bookmarkBtn {
      width: auto;
      height: 24px;
      border: none;
      outline: none;
      padding: 0px 0px;
      // border: 1px solid #d0d5dd;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 10px;
      // background-color: #ecf2ff;
      border-radius: 5px;
      background: none;
      cursor: pointer;

      .btnIconDiv {
        aspect-ratio: 1/1;
        height: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        // border: 1px solid red;
        margin-right: 5px;
      }

      .btnTextDiv {
        width: auto;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        p {
          font-size: 0.75rem;
          @include themed() {
            color: t(primary-color);
          }
          font-weight: 500;

          @include small-device {
            font-size: clamp(
              0.7rem,
              0.09999999999999987rem + 3.0000000000000004vw,
              1rem
            ) !important;
          }
        }
      }
    }
    .verticalLine {
      height: 50%;
      @include themed() {
        background-color: t(app-scheme-color);
      }
      width: 1px;
      margin-left: 5px;
      margin-right: 5px;
    }
    .durationWrapper {
      width: auto;
      height: 80%;
      margin-right: 10px;
      @include flex(center, left);
      .durationIconDiv {
        height: 20px;
        aspect-ratio: 1/1;
        @include flex(center, center);
        // border: 1px solid red;
      }
      .durationTextDiv {
        width: auto;
        height: 100%;
        @include flex(center, left);
        margin-left: 5px;
        p {
          font-size: 0.75rem;
          @include themed() {
            color: t(primary-color);
          }

          font-weight: 500;

          @include small-device {
            font-size: clamp(
              0.7rem,
              0.09999999999999987rem + 3.0000000000000004vw,
              1rem
            ) !important;
          }

          span {
            @include themed() {
              color: t(secondary-color);
            }
          }
        }
      }
    }
  }
  .topicContentWrapper {
    height: calc(100% - 40px);
    padding: 20px 40px;
    width: 80%;
    // border: 1px solid red;
    .endLine {
      width: 20%;
      background-color: transparent;
      margin-left: auto;
      margin-right: auto;
    }

    @include scroll($dir: y);
    @media (max-width: 768px) {
      width: 100%;
      padding: 20px 30px;
    }

    p {
      margin-bottom: 10px;
      line-height: 1.8;
      // color: #1c3553;
      @include themed() {
        color: t(primary-color);
      }

      font-size: $fontSize;
      // word-break: break-all;
      width: 100%;
      font-weight: 500;

      @include small-device {
        font-size: clamp(
          0.8rem,
          0.19999999999999996rem + 3.0000000000000004vw,
          1.1rem
        ) !important;
      }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-top: 20px;
      margin-bottom: 25px;
      font-weight: bold;
      @include themed() {
        color: t(app-scheme-color);
      }

      position: relative;

      &::after {
        position: absolute;
        content: "";
        left: 0px;
        bottom: -10px;
        @include themed() {
          background-color: t(app-scheme-color);
        }

        width: 30px;
        height: 3px;
        border-radius: 8px;
      }
    }

    code {
      color: #e31b54;
      background-color: #ffe4e8;
      padding: 2px 8px;
      border-radius: 5px;
      font-weight: 600;
      font-family: "Source Code Pro", monospace !important;
      font-size: $codeFontSize;
      white-space: nowrap;
    }

    pre {
      @include themed() {
        background-color: t(code-block-bg);
      }
      padding: 20px 20px;
      border-radius: 0.8rem !important;
      @include scroll($dir: x);
      margin: 20px 20px;
      position: relative;
      overflow-x: scroll;
      @include small-device {
        margin: 20px 0px;
      }
      &::-webkit-scrollbar {
        display: none;
      }
      code {
        color: white;
        background-color: transparent !important;
        padding: 0px !important;
        @include scroll($dir: x);
        font-weight: 400 !important;
        line-height: 1.5 !important;
        font-family: "Source Code Pro", monospace !important;
        font-size: $codeFontSize;
        white-space: unset !important;
        @include small-device {
          font-size: clamp(
            0.7rem,
            -0.10000000000000031rem + 4.000000000000002vw,
            1.1rem
          ) !important;
        }
      }
    }

    blockquote {
      margin: 0;
      padding-left: 10px;
      border-left: 3px solid #ccc;
      color: #666;
    }

    ul,
    ol {
      margin-bottom: 10px;
      padding-left: 20px;
      // word-break: break-all;
    }
    li {
      @include themed() {
        color: t(primary-color);
      }

      font-size: $fontSize;
      // word-break: break-all;
      margin: 10px 0px;
      line-height: 1.8;
      font-weight: 500;
      @include small-device {
        font-size: clamp(
          0.8rem,
          0.19999999999999996rem + 3.0000000000000004vw,
          1.1rem
        ) !important;
      }
    }

    hr {
      margin-top: 20px;
      margin-bottom: 20px;
    }

    figcaption {
      font-size: 0.6rem;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
    strong {
      @include themed() {
        color: t(app-scheme-color);
      }
    }
  }
}
