@import "../../../../styles/mixins.module";

$fontSize: 0.9rem;
$codeFontSize: 0.9rem;
$fontColorPrimaary: #1C3553;
$fontColorSecondary: #101828;

.topicContentWrapper {
  width: 80%;
  height: 100%;
  @include scroll($dir: y);
  @media (max-width: 768px) {
    width: 100%;
  }
  p {
    margin-bottom: 10px;
    line-height: 1.8;
    // color: #1c3553;
    color: $fontColorPrimaary;
    font-size: $fontSize;
    word-break: break-all;
    width: 100%;
    font-weight: 400;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 20px;
    margin-bottom: 25px;
    font-weight: bold;
    color: $fontColorSecondary;
    position: relative;
    &::after {
      position: absolute;
      content: "";
      left: 0px;
      bottom: -10px;
      background-color: #635db0;
      width: 30px;
      height: 3px;
      border-radius: 8px;
    }
  }

  code {
    color: #e31b54;
    background-color: #ffe4e8;
    padding: 2px 8px;
    border-radius: 5px;
    font-weight: 600;
    font-family: "Source Code Pro", monospace !important;
    font-size: $codeFontSize;
    white-space: nowrap;
  }

  pre {
    background-color: #011627;
    padding: 20px 20px;
    border-radius: 0.8rem !important;
    @include scroll($dir: x);
    margin: 20px 20px;
    position: relative;
    overflow-x: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
    code {
      color: white;
      background-color: transparent !important;
      padding: 0px !important;
      @include scroll($dir: x);
      font-weight: 400 !important;
      line-height: 1.5 !important;
      font-family: "Source Code Pro", monospace !important;
      font-size: $codeFontSize;
      white-space: unset !important;
    }
  }

  blockquote {
    margin: 0;
    padding-left: 10px;
    border-left: 3px solid #ccc;
    color: #666;
  }

  ul,
  ol {
    margin-bottom: 10px;
    padding-left: 20px;
    word-break: break-all;
  }
  li {
    color: $fontColorPrimaary;
    font-size: $fontSize;
    word-break: break-all;
    margin: 10px 0px;
    line-height: 1.8;
  }

  hr {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  figcaption {
    font-size: 0.6rem;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  strong {
    color: #635db0;
  }
}
