@import "../../../../styles/mixins.module";

.subLayoutWrapper {
  @include fhw;
  @include flex-container(flex-start, flex-start, $direction: column);

  &__headerWrapper {
    height: 50px;
    width: 100%;
    border-bottom: 1px solid #d0d5dd;
  }

  &__contentWrapper {
    height: calc(100% - 50px);
    width: 100%;
    @include flex-container(center, center);
  }
}
