@import "../../../../styles/mixins.module";

.subLayoutWrapper {
  @include fhw;
  @include flex-container(flex-start, flex-start, $direction: column);
  // background-color: red;
  // background-color: salmon;

  &__headerWrapper {
    height: 50px;
    width: 100%;
    border-bottom: 1px solid #d0d5dd;
    // background-color: salmon;
    @include flex-container(flex-start, center);
    .tabsWrapper {
      position: relative;
      width: 80%;
      height: 95%;
      // border: 1px solid red;
      @include flex-container(flex-start, center);
      &__link {
        height: auto;
        width: auto;
        margin-left: 10px;
        margin-right: 20px;
        border: 2px solid transparent;

        @include flex-container(center, center);

        &--active {
          border-bottom: 2px solid #635db0;
        }
        p {
          font-size: 0.7rem;
          font-weight: 600;
          padding: 5px 5px;
          letter-spacing: 3px;
        }
      }
    }
  }

  &__contentWrapper {
    height: calc(100% - 50px);
    width: 100%;
    @include flex-container(center, center);
  }
}
