@import "../../../../styles/mixins.module";

.subLayoutWrapper {
  @include fhw;
  @include flex-container(flex-start, flex-start, $direction: column);

  &__headerWrapper {
    height: 50px;
    width: 100%;
    border: 1px solid lightcoral;
  }

  &__contentWrapper {
    height: calc(100% - 50px);
    width: 100%;
    border: 1px solid lightgreen;
  }
}
