@import "../../../styles/mixins.module";
@import "../../../styles/variables.module";

.card {
  width: 180px;
  aspect-ratio: 2/2.5;
  margin: 2% 2%;
  display: grid;
  grid-template-areas:
    "logoWrapper linkBtnWrapper"
    "titleWrapper titleWrapper"
    "descWrapper descWrapper"
    "chapterWrapper durationWrapper";
  grid-template-columns: 50% 50%;
  grid-template-rows: auto 20% 30% 15%;
  padding: 0.8rem;
  box-sizing: border-box;
  background-color: white;
  @include card-bg-shadow;

  &--searchedItem {
    border: 2px solid #635db0;
  }

  @media (max-width: 768px) {
    width: 90% !important;
    aspect-ratio: 1/1.4;
    margin-left: auto;
    margin-right: auto;
  }

  &:hover {
    box-shadow: $card-hover-box-shadow;
  }

  &__logoWrapper {
    grid-area: logoWrapper;
    // @include fhw;
    width: 100%;
    // border: 1px solid red;
    aspect-ratio: 1/1;

    div {
      width: 100%;
      aspect-ratio: 1/1;
      @include flex-container(flex-start, center);
      // border: 1px solid blue;
      border-radius: 10px;
      overflow: hidden;
      position: relative;
      border: 1px solid #d3cee9;
      // background-color: #f7f5ff;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }

  &__linkBtnWrapper {
    grid-area: linkBtnWrapper;
    @include fhw;
    @include flex-container(flex-end, flex-start);
    // border: 1px solid red;

    .buttonWrapper {
      aspect-ratio: 1/1;
      @include flex-container(center, center);
      width: 55%;
    }
  }

  &__titleWrapper {
    grid-area: titleWrapper;
    @include fhw;
    @include flex-container(flex-start, center);
    // border: 1px solid red;

    p {
      font-size: 1rem;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      font-weight: 500;

      @include small-device {
        font-size: clamp(
          0.8rem,
          -0.3999999999999997rem + 5.999999999999998vw,
          1.4rem
        ) !important;
      }
    }
  }

  &__descWrapper {
    grid-area: descWrapper;
    @include fhw;
    @include flex-container(flex-start, flex-start);
    padding-right: 2%;

    p {
      font-size: 0.6rem;
      color: $secondary-text-color;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      white-space: normal;
      line-height: 1.8;
      color: #667085;

      @include small-device {
        font-size: clamp(
          0.5rem,
          -0.19999999999999996rem + 3.4999999999999996vw,
          0.85rem
        ) !important;
      }
    }
  }

  &__chapterWrapper {
    grid-area: chapterWrapper;
    @include fhw;
    @include flex-container(center, center);
    // border: 1px solid black;
    &__innerDiv {
      width: 100%;
      height: 80%;
      // border: 1px solid black;
    }
  }

  &__durationWrapper {
    grid-area: durationWrapper;
    @include fhw;
    @include flex-container(center, center);
    // border: 1px solid red;
    &__innerDiv {
      width: auto;
      height: 80%;
      // border: 1px solid black;
    }
  }
}
