@import "../../../../styles/mixins.module";
.datatableWrapper {
  width: 100%;
  height: 100%;
  @include flex-container(flex-start, flex-start);
  max-width: 100%;

  @media (max-width: 768px) {
    @include flex-container(center, flex-start);
  }

  .datatableContainer {
    width: 80%;
    height: 90%;
    margin-left: 20px;

    @media (max-width: 768px) {
      width: 95%;
      height: 95%;
      // border: 1px solid red;
      margin: unset;
    }

    &__toolbar {
      width: 100%;
      height: 50px;
      @include flex-container(flex-start, center);
      justify-content: space-between;

      .searchWrapper {
        border: 1px solid #d0d5dd;
        width: 150px;
        height: 60%;
        display: inline-flex;
        border-radius: 5px;
        background-color: #f8f9fc;

        &__inputWrapper {
          width: auto;
          height: 100%;
          // border: 1px solid red;

          input {
            border: none;
            background: none;
            width: 100%;
            height: 100%;
            padding-left: 8px;
            outline: none;
            @include small-device {
              font-size: clamp(
                0.9rem,
                0.4999999999999999rem + 2.000000000000001vw,
                1.1rem
              ) !important;
            }
            &::placeholder {
              color: #c2c2c2;
              font-size: 0.7rem;
              font-style: italic;
              @include small-device {
                font-size: clamp(
                  0.7rem,
                  0.2999999999999998rem + 2.000000000000001vw,
                  0.9rem
                ) !important;
              }
            }
          }
        }
        &__iconWrapper {
          height: 100%;
          aspect-ratio: 1/1;
          @include flex-container(center, center);
          // border: 1px solid blue;
          cursor: pointer;

          &__searchIconDiv {
            aspect-ratio: 1/1;
            width: 55%;
            @include flex-container(center, center);
            // border: 1px solid salmon;
          }
        }
      }

      .addBtn {
        height: 60%;
        @include flex-container(flex-start, center);
        padding: 0px 10px;
        background-color: #635db0;
        outline: none;
        border: none;
        margin-right: 2px;
        cursor: pointer;
        p {
          font-size: 0.75rem;
          white-space: nowrap;
          color: white;
          font-weight: 500;
          letter-spacing: 0.3px;
        }
        &__iconDiv {
          height: 60%;
          aspect-ratio: 1/1;
          @include flex-container(center, center);
          // border: 1px solid red;
        }
      }
    }

    .tableContentWrapper {
      width: 100%;
      height: calc(100% - 50px);
      max-height: calc(100% - 50px);
      position: relative;
      @include flex-container(flex-start, flex-start, $direction: column);

      .tableScrollWrapper {
        width: 100%;
        max-width: 100%;
        height: auto;
        max-height: 100%;
        position: relative;
        @include scroll();
        border: 1px solid #d0d5dd;
        background-color: white;
        border-radius: 8px;

        table {
          width: 100%;
          border-collapse: collapse;
        }

        thead {
          height: 50px;
          position: sticky;
          top: 0;
          z-index: 1;
          // background-color: #101828;
          // border-bottom: 1px solid red;

          &::after {
            position: absolute;
            content: "";
            width: 100%;
            height: 1px;
            bottom: 0px;
            background-color: #1018283f;
          }

          th {
            text-align: start;
            padding: 15px;
            background-color: #f6f8fa;
            background-color: #eaecf5;

            position: relative;

            &:not(:last-child)::after {
              content: "";
              background-color: #1018283f;
              position: absolute;
              width: 0.04rem;
              height: 100%;
              right: 0;
              top: 0;
              bottom: 0px;
              margin-top: auto;
              margin-bottom: auto;
            }

            p {
              margin: 0;
              font-size: 0.8rem;
              font-weight: 500;
              color: #101828;
            }
          }
        }

        tbody {
          tr {
            border-bottom: 1px solid #d0d5dd;
            max-height: 50px;
          }

          tr:nth-child(even) {
            background-color: #e1eaf92c;
            &:hover {
              background-color: #e1eaf92c;
            }
          }

          tr:nth-child(odd) {
            &:hover {
              background-color: #e1eaf92c;
            }
          }

          td {
            padding: 0px 15px;
            height: 50px;
            border-bottom: 1px solid #d0d5dd;
            p {
              font-size: 0.8rem;
              width: 100%;
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden;
              margin: 0;
              color: #101828;
              font-weight: 500;
              @include small-device {
                font-size: clamp(
                  0.8rem,
                  0.40000000000000013rem + 1.9999999999999998vw,
                  1rem
                ) !important;
              }
            }

            .icon {
              width: 80%;
              height: 80%;
            }
          }
        }
      }
    }
  }
}

.statusBadgeWrapper {
  height: 25px;
  display: inline-flex;
  padding: 0px 10px;
  border-radius: 8px;

  &--activeBg {
    background-color: #deeedc;
  }
  &--inactiveBg {
    background-color: #7e8da430;
  }

  &__iconWrapper {
    height: 100%;
    aspect-ratio: 1/2;
    @include flex-container(center, center);

    &__iconDiv {
      aspect-ratio: 1/1;
      width: 80%;
      @include flex-container(center, center);
    }
  }

  &__statusTextWrapper {
    width: auto;
    margin-left: 10px;
    height: 100%;
    @include flex-container(flex-start, center);

    p {
      font-size: 0.5rem;
      font-weight: 400;
    }

    .activeText {
      color: #789980;
    }

    .inactiveText {
      color: #7e8da4;
    }
  }
}

.actionBtnsWrapper {
  height: 20px;
  width: auto;
  display: inline-flex;
  align-items: center;
  // border: 1px solid red;
  &__actionButton {
    height: 85%;
    aspect-ratio: 1/1;
    @include flex-container(center, center);
    cursor: pointer;
    background: none;
    border: none;

    &:first-of-type {
      margin-right: 8px;
    }

    &:last-of-type {
      margin-left: 8px;
    }
  }
}
