@import "../../../../styles/mixins.module";
@import "../../../../styles/variables.module";

.formWrapper {
  width: 98%;
  height: 98%;
  // border: 1px solid red;
  @include flex-container(center, center);

  .formContainer {
    width: 70%;
    height: 90%;
    // border: 1px solid red;
    display: grid;
    grid-template-areas:
      "logoCell titleCell"
      "logoCell descriptionCell";
    grid-template-columns: 30% 70%;
    grid-template-rows: 30% 70%;

    &__logoCell {
      grid-area: logoCell;
      @include fhw;
      // border: 1px solid salmon;
    }
    &__titleCell {
      grid-area: titleCell;
      @include fhw;
      // border: 1px solid black;
      // padding: 10px;
    }
    &__descriptionCell {
      grid-area: descriptionCell;
      @include fhw;
      // border: 1px solid green;
    }
  }
}

.formGroup {
  width: 100%;
  height: 100%;
  // border: 1px solid blue;
  padding: 5px;

  &__inputGroup {
    width: 100%;
    height: calc(100% - 30px);
    // border: 1px solid salmon;
    padding: 20px;
    // border: 1px solid #d0d5dd;
    border-radius: 15px;
    background-color: white;

    &__labelDiv {
      // border: 1px solid salmon;
      width: 100%;
      height: 30px;
      @include flex-container(flex-start, center);
      // background-color: ;
      &__labelTag {
        color: #a1a7c4;
        font-size: 0.8rem;
        font-weight: 500;
      }
    }
    &__inputDiv {
      // border: 1px solid skyblue;
      width: 100%;
      height: calc(100% - 30px);
      input {
        width: 100%;
        height: 100%;
        @include flex-container(flex-start, flex-start);
        text-align: start;
        outline: none;
        border: none;
        background: none;
      }
      textarea {
        width: 100%;
        height: 100%;
        max-width: 100%;
        max-height: 100%;
        outline: none;
        border: none;
        background: none;
        @include scroll();
        line-height: 1.8;
        padding-top: 5px;
        padding-bottom: 5px;
      }
    }
  }

  &__errorGroup {
    // border: 1px solid black;
    width: 100%;
    height: 30px;
    @include flex-container(flex-start, center);
    p {
      color: #f0142f;
      font-size: 0.7rem;
      font-weight: 500;
      margin-left: 5px;
    }
  }
}

.logoFormGroup {
  width: 90%;
  aspect-ratio: 1/1;
  // border: 1px solid orange;
  padding: 5px;

  &__inputGroup {
    height: 80%;
    aspect-ratio: 1/1;
    background-color: white;
    // border: 1px solid darkred;
    border-radius: 15px;
    input {
      display: none;
    }
    .customUploadBox {
      // border: 1px solid darkred;
      width: 100%;
      height: 100%;
      @include flex-container(center, center);
      .uploadDiv {
        width: 80%;
        height: 80%;
        border: 2px dashed #635db0;
        border-radius: 15px;

        cursor: pointer;
        @include flex-container(center, center);
        text-align: center;
        p {
          font-size: 0.6rem;
        }
      }
    }
  }
  &__errorGroup {
    width: 100%;
    height: 20%;
    // border: 1px solid darkred;
    @include flex-container(flex-start, center);

    p {
      color: #f0142f;
      font-size: 0.7rem;
      font-weight: 500;
      margin-left: 5px;
    }
  }
}
