@import "../../../../styles/mixins.module";
@import "../../../../styles/variables.module";

.formWrapper {
  width: 100%;
  height: 100%;
  // border: 1px solid red;
  @include flex-container(flex-start, center);
  margin-left: 20px;
  @media (max-width: 768px) {
    @include flex-container(center, flex-start);
    margin-left: unset;
  }

  .formContainer {
    width: 70%;
    height: 90%;
    // border: 1px solid red;
    display: grid;
    grid-template-areas:
      "logoCell titleCell"
      "logoCell descriptionCell"
      "logoCell statusCell"
      "logoCell buttonCell";
    grid-template-columns: 30% 70%;
    grid-template-rows: 25% minmax(0, 1fr) 30% 50px;

    @media (max-width: 768px) {
      width: 90%;
      height: 95%;
      // border: 1px solid red;
      display: grid;
      grid-template-areas:
        "logoCell titleCell"
        "descriptionCell descriptionCell"
        "statusCell statusCell"
        "buttonCell buttonCell";
      grid-template-columns: 30% calc(70% - 10px);
      grid-template-rows: 30% minmax(0, 1fr) 20% 50px;
      grid-gap: 10px;
      margin-top: 20px;
    }

    &__logoCell {
      grid-area: logoCell;
      @include fhw;
      // border: 1px solid black;
      @include flex-container(center, flex-start);
    }
    &__titleCell {
      grid-area: titleCell;
      @include fhw;
      // border: 1px solid black;
      // padding: 10px;
    }
    &__descriptionCell {
      grid-area: descriptionCell;
      @include fhw;
      // border: 1px solid green;
    }
    &__buttonCell {
      grid-area: buttonCell;
      @include fhw;
      // border: 1px solid red;
      @include flex-container(flex-end, center);

      button {
        height: 30px;
        width: auto;
        padding-left: 10px;
        padding-right: 10px;
        background-color: #635db0;
        outline: none;
        border: none;
        color: white;
        cursor: pointer;

        &:disabled {
          background-color: #f5f6fa;
          cursor: not-allowed;
          color: #a1a7c4;
          border: #d7dbec;
        }
      }
    }
    &__statusCell {
      grid-area: statusCell;
      @include fhw;
      // border: 1px solid blue;
      // @include flex-container(flex-end, center);
    }
  }
}

.formGroup {
  width: 100%;
  height: 100%;
  // border: 1px solid blue;

  &__inputGroup {
    width: 100%;
    height: calc(100% - 30px);
    // border: 1px solid blue;
    padding: 10px 20px;
    // border: 1px solid #d0d5dd;
    border-radius: 15px;
    background-color: white;
    overflow: hidden;

    &__labelDiv {
      // border: 1px solid salmon;
      width: 100%;
      height: 20px;
      @include flex-container(flex-start, center);
      // background-color: ;
      &__labelTag {
        color: #a1a7c4;
        font-size: 0.8rem;
        font-weight: 500;
      }
    }
    &__inputDiv {
      // border: 1px solid skyblue;
      width: 100%;
      height: calc(100% - 20px);
      @include flex-container(flex-start, flex-start);
      input {
        width: 100%;
        height: 100%;
        @include flex-container(flex-start, flex-start);
        text-align: start;
        outline: none;
        border: none;
        background: none;
      }
      textarea {
        width: 100%;
        height: 100%;
        max-width: 100%;
        max-height: 100%;
        outline: none;
        border: none;
        background: none;
        @include scroll();
        line-height: 1.8;
        padding-top: 5px;
        padding-bottom: 5px;
      }
    }
  }

  &__errorGroup {
    // border: 1px solid black;
    width: 100%;
    height: 30px;
    @include flex-container(flex-start, center);
    p {
      color: #f0142f;
      font-size: 0.7rem;
      font-weight: 500;
      margin-left: 5px;
    }
  }
}

.logoFormGroup {
  width: 80%; // chnage the white logoFormGroup by changing this value
  aspect-ratio: 1/1;
  // border: 1px solid orange;

  @media (max-width: 768px) {
    // border: 1px solid orange;
    aspect-ratio: unset;
    height: 100%;
    width: 100%;
    padding: 0px;
  }

  &__inputGroup {
    height: calc(100% - 30px);
    aspect-ratio: 1/1;
    background-color: white;
    border-radius: 15px;
    // border: 1px solid blue;
    overflow: hidden;

    @media (max-width: 768px) {
      aspect-ratio: unset;
    }

    input {
      display: none;
    }
    .customUploadBox {
      // border: 1px solid darkred;
      width: 100%;
      height: 100%;
      @include flex-container(center, center);

      .uploadDiv {
        width: 80%;
        height: 80%;
        border: 2px dashed #635db0;
        border-radius: 15px;

        @media (max-width: 768px) {
          aspect-ratio: 1/1;
          height: unset;
        }

        cursor: pointer;
        @include flex-container(center, center);
        text-align: center;
        p {
          font-size: 0.6rem;
        }
      }
      .logoPreviewDiv {
        width: 80%;
        height: 80%;
        @include flex-container(center, center);
        // border: 1px solid red;
        border-radius: 15px;
        overflow: hidden;
        position: relative;
        img {
          object-fit: contain;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  &__errorGroup {
    width: 100%;
    height: 30px;
    // border: 1px solid darkred;
    @include flex-container(flex-start, center);

    p {
      color: #f0142f;
      font-size: 0.7rem;
      font-weight: 500;
      margin-left: 5px;
    }
  }
}

.statusInputWrapper {
  width: auto;
  height: 100%;
  @include flex-container(flex-start, center);
  // border: 1px solid red;
  margin-left: 10px;

  .radioBtnWrapper {
    width: auto;
    height: 30px;
    border: 1px solid #d0d5dd;
    border-radius: 10px;
    @include flex-container(flex-start, center);
    cursor: pointer;

    &--activeBtn {
      border: 1px solid #789980;
      background-color: #deeedc;
    }
    &--inactiveBtn {
      border: 1px solid #d27e67;
      background-color: #fde7ea;
    }

    .radioDotDiv {
      height: 100%;
      aspect-ratio: 1/1;
      @include flex-container(center, center);

      .radioDot {
        border-radius: 100%;
        aspect-ratio: 1/1;
        width: 40%;
        background-color: #a4adbb;
      }
      &--activeDot {
        background-color: #789980 !important;
      }
      &--inactiveDot {
        background-color: #d27e67 !important;
      }
    }
    .radioLabelDiv {
      width: auto;
      height: 100%;
      @include flex-container(flex-start, center);
      // border: 1px solid blue;
      padding: 0px 8px 0px 0px;

      p {
        font-size: 0.6rem;
      }
    }
  }
}
