@import "../../../styles/mixins.module";
@import "../../../styles/variables.module";
@import "../../../styles/themes.module";

.card {
  width: 280px;
  aspect-ratio: 3/1.9;
  margin: 2% 2%;
  display: grid;
  grid-template-areas:
    "chapterNumWrapper chapterNumWrapper bookmarkIconWrapper"
    "titleWrapper titleWrapper titleWrapper"
    "topicsListWrapper topicsListWrapper linkBtnWrapper"
    "topicsCountWrapper durationWrapper linkBtnWrapper";
  grid-template-columns: 35% 35% 30%;
  grid-template-rows: 15% 20% 45% 20%;
  padding: 0.8rem;
  box-sizing: border-box;
  @include themed() {
    background-color: t(card-bg-primary);
    box-shadow: t(card-box-shadow-primary);
  }

  &--searchedItem {
    @include themed() {
      border: 2px solid t(app-scheme-color);
      box-shadow: t(card-box-shadow-secondary) !important;
    }
  }
  &--blur {
    opacity: 0.6;
    &:hover {
      box-shadow: unset !important;
    }
  }

  @media (max-width: 768px) {
    width: 85% !important;
    aspect-ratio: 3/1.8;
    margin-left: auto;
    margin-right: auto;
  }

  &:hover {
    @include themed() {
      box-shadow: t(card-box-shadow-secondary);
    }
  }

  &__chapterNumWrapper {
    grid-area: chapterNumWrapper;
    @include fhw;
    @include flex-container(flex-start, center);
    div {
      width: auto;
      height: 100%;
      @include flex-container(flex-start, center);
      @include themed() {
        p {
          font-size: 0.8rem;
          font-weight: 600;
          color: t(primary-color);
          span {
            color: t(app-scheme-color);
            margin-left: 2px;
          }
        }
      }
    }
  }

  &__bookmarkIconWrapper {
    grid-area: bookmarkIconWrapper;
    @include fhw;
  }

  &__titleWrapper {
    @include flex-container(flex-start, center);
    grid-area: titleWrapper;
    @include fhw;
    @include themed() {
      p {
        font-size: 1rem;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        font-weight: 500;
        color: t(primary-color);

        @include small-device {
          font-size: clamp(
            1.1rem,
            -0.09999999999999964rem + 5.999999999999998vw,
            1.7rem
          ) !important;
        }
      }
    }
  }

  &__topicsListWrapper {
    grid-area: topicsListWrapper;
    @include fhw;
    @include scroll($dir: y, $display: none);
    @include flex-container(flex-start, flex-start);
    .listInnerWrapper {
      width: 95%;
      height: 90%;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      @include scroll($dir: y);
      padding-bottom: 10px;

      .topicItemWrapper {
        position: relative;
        width: 100%;
        height: 20px;
        min-height: 20px;
        @include flex-container(flex-start, center);
        margin-top: 5px;

        &__bulletElement {
          position: relative;
          height: 100%;
          aspect-ratio: 1/1;
          @include flex-container(center, center);
          @include themed() {
            &::before {
              position: absolute;
              content: "";
              background-color: t(secondary-color);
              top: 0;
              height: 10px;
              width: 0.05rem;
            }
            &::after {
              position: absolute;
              content: "";
              background-color: t(secondary-color);
              width: 10px;
              height: 0.05rem;
              right: 0;
            }
          }
        }

        &__textDiv {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          height: 20px;
          width: auto;
          @include themed() {
            p {
              font-size: 0.7rem;
              white-space: nowrap;
              text-overflow: ellipsis;
              margin-left: 5px;
              color: t(secondary-color);

              @include small-device {
                font-size: clamp(
                  0.65rem,
                  0.15000000000000002rem + 2.5vw,
                  0.9rem
                ) !important;
              }
            }
          }
        }
      }
    }
  }

  &__topicsCountWrapper {
    grid-area: topicsCountWrapper;
    @include fhw;
  }

  &__durationWrapper {
    grid-area: durationWrapper;
    @include fhw;
  }

  &__linkBtnWrapper {
    grid-area: linkBtnWrapper;
    @include fhw;
    @include flex-container(flex-end, flex-end);

    .buttonWrapper {
      width: 60%;
      aspect-ratio: 1/1;
    }
  }
}
