@import "../../../styles/mixins.module";
@import "../../../styles/variables.module";
@import "../../../styles/themes.module";

.chaptersListWrapper {
  @include fhw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  .listHeader {
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    padding-left: 8px;
    // @include themed() {
    //   border-bottom: 1px solid t(division-border-color);
    // }

    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .mainListWrapper {
    width: 100%;
    height: calc(100% - 50px);
    padding-left: 20px;
    padding-top: 20px;
    @include scroll;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;

    @media (max-width: 768px) {
      justify-content: center;
      padding: 20px 5px;
      @include scroll($display: show);
      display: grid;
      grid-template-columns: minmax(0, 1fr);
      margin-left: auto;
      margin-right: auto;
      box-sizing: border-box;
    }
  }
}
