@import "../../../../styles/mixins.module";

.headerWrapper {
  grid-area: headerWrapper;
  width: 100%;
  height: 100%;
  @include flex-container(flex-start, center);
  border-bottom: 1px solid #d0d5dd;
  // border: 1px solid blue;

  &__appLogoWrapper {
    height: 60%;
    @include flex-container(center, center);
    margin-left: 1%;
    display: flex;
  }
}
