@import "../../../../styles/mixins.module";
@import "../../../../styles/variables.module";
@import "../../../../styles/themes.module";

.popMenuWrapper {
  position: absolute;
  width: 190px;
  aspect-ratio: 1/0.7;

  background-color: #2a2b32;
  height: auto;
  padding: 5px;
  top: 70px;
  right: 25px;
  z-index: 100;
  display: grid;
  grid-template-areas:
    "userInfoCell"
    "logoutCell";
  grid-template-rows: 60% 40%;
  grid-template-columns: 100%;

  @include small-device {
    font-size: clamp(12rem, 4rem + 40vw, 16rem) !important;
    aspect-ratio: 1/0.7;
  }

  .userInfoCell {
    grid-area: userInfoCell;
    @include fhw;
    // border: 1px solid white;
    display: grid;
    grid-template-areas:
      "userIconCell userNameCell"
      "userIconCell userEmailCell";
    grid-template-rows: 50% 50%;
    grid-template-columns: auto minmax(0, 1fr);

    .userIconCell {
      grid-area: userIconCell;
      height: 100%;
      aspect-ratio: 1/1.5;
      // border: 1px solid skyblue;
      display: flex;
      justify-content: center;
      align-items: center;
      .userBadgeDiv {
        width: 70%;
        aspect-ratio: 1/1;
        border-radius: 50%;
        // border: 1px solid white;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ab9ef6;
        p {
          font-size: 1rem;
          font-weight: 600;
          color: #06060e;
          @include small-device {
            font-size: 1.2rem;
          }
        }
      }
    }
    .userNameCell {
      grid-area: userNameCell;
      @include fhw;
      // border: 1px solid salmon;
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
      p {
        font-size: 1rem;
        width: 95%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        @include small-device {
          font-size: clamp(
            0.9rem,
            0.4999999999999999rem + 2.000000000000001vw,
            1.1rem
          ) !important;
        }
      }
    }
    .userEmailCell {
      grid-area: userEmailCell;
      @include fhw;
      // border: 1px solid lightgreen;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      p {
        font-size: 0.8rem;
        width: 95%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        color: #aaacb3;
        @include small-device {
          // font-size: clamp(
          //   0.6rem,
          //   0.29999999999999993rem + 1.5000000000000002vw,
          //   0.75rem
          // ) !important;
          font-size: 1rem;
        }
      }
    }
  }

  .logoutCell {
    grid-area: logoutCell;
    display: flex;
    border-top: 1px solid rgba(112, 128, 144, 0.321);
    @include fhw;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      background-color: #13131a;
    }
    .logoutBtn {
      width: 85%;
      height: 70%;
      background: none;
      outline: none;
      display: grid;
      grid-template-areas: "lgIconCell lgTextCell";
      grid-template-columns: auto minmax(0, 1fr);
      grid-template-rows: 100%;
      border: none;
      cursor: pointer;

      .lgIconCell {
        grid-area: lgIconCell;
        height: 100%;
        aspect-ratio: 1/1;
        // border: 1px solid lightgreen;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px;
      }
      .lgTextCell {
        grid-area: lgTextCell;
        @include fhw;
        // border: 1px solid salmon;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        p {
          font-size: 1rem;
          @include small-device {
            font-size: clamp(
              0.8rem,
              0.19999999999999996rem + 3.0000000000000004vw,
              1.1rem
            ) !important;
          }
        }
      }
    }
  }
}

.themeToggleBtnWrapper {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  @include themed() {
    background-color: t(theme-toggle-track-bg);
  }
  align-items: center;
  padding: 3px;

  cursor: pointer;

  .toggleBtn {
    width: 50%;
    height: 100%;
    display: flex;
    @include themed() {
      background-color: t(theme-toggle-btn-bg);
      border: 1px solid t(theme-toggle-btn-border);
    }
    .btnIconDiv {
      height: 100%;
      aspect-ratio: 1/1.2;
      display: flex;
      justify-content: center;
      align-items: center;
      //   border: 1px solid blue;
      padding: 5px;
    }

    .btnTextDiv {
      flex: 1;
      height: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      // border: 1px solid green;

      p {
        @include themed() {
          color: t(primary-color);
        }
        font-size: 0.7rem;
        font-weight: 500;
      }
    }

    transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    &--light {
      margin-left: 0%;
      margin-right: 50%;
    }
    &--dark {
      margin-left: 50%;
      margin-right: 0%;
    }
  }
}
