$scrollbar-color: #8581b4;

//|> Light theme color pallete------------------------------------------------------------------
// $app-bg-light: linear-gradient(
//   to right top,
//   #e0f2fe,
//   #eaf4ff,
//   #f3f7ff,
//   #fafbff,
//   #ffffff
// );
// $app-bg-light: linear-gradient(
//   to right top,
//   #f5f5f5,
//   #f6f6f6,
//   #f7f7f7,
//   #f7f7f7,
//   #f8f8f8
// );
// $app-bg-light: linear-gradient(
//   to right top,
//   #f5f5f5,
//   #f4f4f5,
//   #f3f3f5,
//   #f1f3f5,
//   #eff2f5
// );
// $app-bg-light: #f7f9fd;
// $app-bg-light: #e8ecf0;
$app-bg-light: radial-gradient(
  circle,
  #f7f9fd,
  #f3f6fa,
  #f0f2f7,
  #eceff3,
  #e8ecf0
);
// $app-bg-light: linear-gradient(
//   to bottom,
//   #f7f9fd,
//   #f3f6fa,
//   #f0f2f7,
//   #eceff3,
//   #e8ecf0
// );
$app-bg-light: #f8f8f8;
$app-scheme-color-light: #6167a0;
$primary-color-light: #1c3553;
$secondary-color-light: #667085;
$tertiary-color-light: #a2a8b2;

$card-bg-primary-light: white;
$card-bg-secondary-light: white;
$card-bg-tertiary-light: white;
$card-box-shadow-primary-light: rgba(149, 157, 165, 0.2) 0px 8px 24px;
$card-box-shadow-secondary-light: rgba(17, 17, 26, 0.1) 0px 8px 24px,
  rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;

$division-border-color-light: #d0d5dd;

$link-btn-bg-light: #6167a0;

$table-th-bg-light: #eaecf5;
$table-row-bg-light: #e1eaf92c;
$table-row-bg-odd-light: #e1eaf92c;

$form-group-border-light: #b4b2b270;
$form-group-border-light: #e2e2e3;
$form-group-bg-light: white;
$form-input-bg-light: #f2f4f7;

$shimmer-bg-on-dark: #2a2c2e;
$shimmer-bg-off-dark: #232729;

$code-block-bg-light: #1d1f2b;

//|> Dark theme color pallete------------------------------------------------------------------

$app-bg-dark: #0e0e0e;
// $app-bg-dark: #17171a;
// $app-scheme-color-dark: #AB9EF6;
// $app-scheme-color-dark: #AB9EF6;
// $app-scheme-color-dark: #6167a0;
$app-scheme-color-dark: #ab9ef6;
$app-scheme-color-dark: #ab9ef6;
$app-scheme-color-dark: #ab9ef6;

$primary-color-dark: #e0e5eb;
$secondary-color-dark: #8b98a5;
$tertiary-color-dark: #686d76;

$card-bg-primary-dark: #232529;
$card-bg-secondary-dark: #1d1f2b;
$card-bg-tertiary-dark: #30343d;
$card-box-shadow-primary-dark: unset;
$card-box-shadow-secondary-dark: unset;

$division-border-color-dark: #24262e;

// $link-btn-bg-dark: #AB9EF6;
// $link-btn-bg-dark: #6167a0;
$link-btn-bg-dark: #ab9ef6;
$link-btn-bg-dark: #ab9ef6;
$link-btn-bg-dark: #ab9ef6;
$link-btn-bg-dark: #ab9ef6;

$form-group-border-dark: #30343d;
$form-group-bg-dark: #15181d;
$form-input-bg-dark: #22262c;

$table-th-bg-dark: #22262c;
$table-row-bg-dark: #16181d;
$table-row-bg-odd-dark: #16181d;
$table-border-dark: #30343d;
$table-row-hover-dark: #ffffff27;

$shimmer-bg-on-dark: #2a2c2e;
$shimmer-bg-off-dark: #232729;

$code-block-bg-dark: #1d1f2b;

$theme-toggle-track-light: #f2f4f7;
$theme-toggle-track-dark: #30343d;

$theme-toggle-btn-bg-light: white;
$theme-toggle-btn-bg-dark: #232529;

$theme-toggle-btn-border-light: #d0d5dd;
$theme-toggle-btn-border-dark: #7e8da442;

$shimmer-one-light: #f2f4f7;
$shimmer-two-light: #fcfcfd;

$shimmer-one-dark: #30353e;
$shimmer-two-dark: #24282f;

$graph-tooltip-bg-light: #2a2c2e;
$graph-tooltip-bg-dark: #30343d;

$graph-tooltip-label-light: #667085;
$graph-tooltip-value-light: white;

$graph-tooltip-value-dark: white;
$graph-tooltip-label-dark: #8b98a5;

$graph-bar-bg-light: #d0d5dd;
$graph-bar-bg-dark: #282a2f;

$graph-bar-label-color-light: #d0d5dd;
$graph-bar-label-color-dark: #3b3e45;

$list-element-light: #9ca0aa;
$list-element-dark: #4a5764;

$topic-p-light: #525252;
$topic-p-dark: #aaacb3;

$topic-p-weight-light: 500;
$topic-p-weight-dark: 400;

$topic-li-light: #525252;
$topic-li-dark: #aaacb3;

$topic-strong-light: black;
$topic-strong-dark: white;

$accordion-line-light: #c4c4c4;
$accordion-line-dark: #272929;
$accordion-indicator-light: #4a4a4a;

$accordion-chapter-color-light: #424242;
$accordion-chapter-color-dark: white;
$accordion-indicator-dark: white;

$accordion-topic-color-light: #737373;
$accordion-topic-color-dark: #aaacb3;
