$scrollbar-color: #8581b4;

//|> Light theme color pallete------------------------------------------------------------------
$app-bg-light: #f5f7fa;
$app-scheme-color-light: #635db0;

$primary-color-light: #1c3553;
$secondary-color-light: #667085;
$tertiary-color-light: #a2a8b2;

$card-bg-primary-light: white;
$card-bg-secondary-light: white;
$card-bg-tertiary-light: white;
$card-box-shadow-primary-light: rgba(149, 157, 165, 0.2) 0px 8px 24px;
$card-box-shadow-secondary-light: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

$division-border-color-light: #d0d5dd;

$link-btn-bg-light: #635db0;

$table-th-bg-light: #eaecf5;
$table-row-bg-light: #e1eaf92c;
$table-row-bg-odd-light: #e1eaf92c;

$form-group-border-light: #b4b2b270;
$form-group-border-light: #e2e2e3;
$form-group-bg-light: white;
$form-input-bg-light: #f2f4f7;

$shimmer-bg-on-dark: #2a2c2e;
$shimmer-bg-off-dark: #232729;

$code-block-bg-light: #1d1f2b;

//|> Dark theme color pallete------------------------------------------------------------------

$app-bg-dark: #161719;
$app-scheme-color-dark: #7776b3;

$primary-color-dark: #e0e5eb;
$secondary-color-dark: #8b98a5;
$tertiary-color-dark: #686d76;

$card-bg-primary-dark: #232529;
$card-bg-secondary-dark: #1d1f2b;
$card-bg-tertiary-dark: #30343d;
$card-box-shadow-primary-dark: unset;
$card-box-shadow-secondary-dark: unset;

$division-border-color-dark: #24262e;

$link-btn-bg-dark: #7776b3;

$form-group-border-dark: #30343d;
$form-group-bg-dark: #232529;
$form-input-bg-dark: #30343d;

$table-th-bg-dark: #232529;
$table-row-bg-dark: #30343d;
$table-row-bg-odd-dark: #30343d;
$table-border-dark: #30343d;
$table-row-hover-dark: #6167a027;

$shimmer-bg-on-dark: #2a2c2e;
$shimmer-bg-off-dark: #232729;

$code-block-bg-dark: #1d1f2b;
