$primary-text-color: #101828;
$secondary-text-color: #667085;
$card-bg: white;
$card-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
$card-hover-box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
$link-btn-bg: #6167a0;
$scrollbar-color: #8581b4;

$app-bg: linear-gradient(
  to right top,
  #e0f2fe,
  #eaf4ff,
  #f3f7ff,
  #fafbff,
  #ffffff
);
// $app-bg: radial-gradient(circle, #f5f7f8, #f3f7fa, #f1f7fb, #eff7fd, #eef7ff);
// $app-bg: linear-gradient(to bottom, #f5f7f8, #f4f7f9, #f3f7fa, #f3f7fc, #f3f7fd, #f4f8fe, #f6f8fe, #f7f9ff, #f9faff, #fcfcff, #fdfdff, #ffffff);
// $app-bg: #f8f8f8;
