@import "../../../../styles/mixins.module";
@import "../../../../styles/variables.module";

.mainLayoutWrapper {
  width: 100%;
  height: 100%;
  // border: 1px solid red;
  @include flex-container(center, center);
  position: relative;

  &__innerWrapper {
    position: relative;
    width: 100%;
    height: 100%;
    // border: 1px solid red;
    overflow: hidden;
    @include flex-container(center, center);
  }
}
