@import "../../../../styles/mixins.module";
@import "../../../../styles/variables.module";

.card {
  width: 250px;
  aspect-ratio: 3/1.7;
  margin: 2% 2%;
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(
      0,
      1fr
    );
  grid-template-rows: 20% 30% 10% 40%;
  grid-template-areas:
    "typeWrapper typeWrapper typeWrapper  linkBtnWrapper"
    "titleWrapper titleWrapper titleWrapper  linkBtnWrapper"
    "progressBarWrapper progressBarWrapper progressBarWrapper progressBarWrapper"
    "progressPercWrapper progressPercWrapper completedWrapper completedWrapper";
  padding: 0.8rem;
  box-sizing: border-box;
  background-color: white;
  @include card-bg-shadow;

  @media (max-width: 768px) {
    width: 90%;
    margin-top: 20px;
  }

  &__typeWrapper {
    grid-area: typeWrapper;
    @include fhw;
    @include flex-container(flex-start, center);
    // border: 1px solid salmon;
    div {
      width: auto;
      padding-left: 0px;
      padding-right: 5px;
      height: 90%;
    }
  }
  &__titleWrapper {
    grid-area: titleWrapper;
    @include fhw;
    // border: 1px solid gold;
    @include flex-container(flex-start, center);
    overflow: hidden;

    p {
      font-size: 0.8rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      @include small-device {
        font-size: clamp(1rem, 0rem + 5vw, 1.5rem) !important;
      }
    }
  }
  &__progressBarWrapper {
    grid-area: progressBarWrapper;
    @include fhw;
    @include flex-container(flex-start, center);
    // border: 1px solid red;
    .progressBarTrack {
      width: 80%;
      height: 4px;
      background-color: #eceff2;
      border-radius: 3px;
      @include flex-container(flex-start, center);
      overflow: hidden;
      &__progressBar {
        width: 50%;
        height: 100%;
        background: #635db0;
      }
    }
  }
  &__progressPercWrapper {
    grid-area: progressPercWrapper;
    @include fhw;
    // border: 1px solid green;
  }
  &__completedWrapper {
    grid-area: completedWrapper;
    @include fhw;
    // border: 1px solid salmon;
  }

  &__linkBtnWrapper {
    grid-area: linkBtnWrapper;
    @include fhw;
    // border: 1px solid blue;
    padding: 0rem;
    display: flex;
    justify-content: flex-end !important;
    align-items: flex-start;
    .btnContainer {
      width: 70%;
      aspect-ratio: 1/1;
      // border: 1px solid red;
      @include flex-container(center, center);
    }
  }

  .valueWrapper {
    width: 100%;
    height: 70%;
    // border: 1px solid blue;
    @include flex-container(flex-start, flex-end);
    p {
      font-size: 1.5rem;
      line-height: 100%;
      color: #635db0;
      // border: 1px solid red;
      @include small-device {
        font-size: clamp(
          1.8rem,
          -0.1999999999999995rem + 9.999999999999998vw,
          2.8rem
        ) !important;
      }
    }
    span {
      font-size: 1rem;
      line-height: 100%;
      color: $secondary-text-color;
      //   border: 1px solid red;
      @include small-device {
        font-size: clamp(
          0.9rem,
          -0.09999999999999976rem + 4.999999999999999vw,
          1.4rem
        ) !important;
      }
    }
  }
  .lableWrapper {
    width: 100%;
    height: 30%;
    // border: 1px solid red;
    @include flex-container(flex-start, flex-end);
    p {
      font-size: 0.55rem;
      margin: 0;
      line-height: 100%;
      font-weight: 500;
      letter-spacing: 0.5px;
      white-space: nowrap;

      @include small-device {
        font-size: clamp(
          0.55rem,
          -0.04999999999999982rem + 2.999999999999999vw,
          0.85rem
        ) !important;
      }
    }
  }
}
