@import "../../../../styles/mixins.module";
@import "../../../../styles/variables.module";
@import "../../../../styles/themes.module";

.backBtnWrapperGrid {
  width: auto;
  height: 70%;
  // border: 1px solid red;
  display: grid;
  grid-template-areas:
    "iconCell textCell"
    "emptyCell lineCell";

  grid-template-columns: auto minmax(0, 1fr);
  grid-template-rows: 80% 20%;
  .iconCell {
    grid-area: iconCell;
    @include fhw;
    // border: 1px solid red;
    height: 100%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    .chevIconDiv {
      height: 70%;
      aspect-ratio: 1/1;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: rotate(180deg);
    }
  }
  .textCell {
    grid-area: textCell;
    @include fhw;
    // border: 1px solid orange;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    p {
      @include themed() {
        color: t(primary-color);
      }
      font-size: 0.9rem;
      letter-spacing: 4px;
      font-weight: 600;
      // margin-left: 5px;
    }
  }
  .lineCell {
    grid-area: lineCell;
    @include fhw;
    // border: 1px solid green;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;

    &::before {
      content: "";
      width: 20px;
      height: 2px;
      @include themed() {
        background-color: t(app-scheme-color);
      }
      border-radius: 5px;
      // margin-left: 5px;
    }
  }
  .emptyCell {
    grid-area: emptyCell;
    @include fhw;
    // border: 1px solid blue;
  }
}

.searchBtnWrapper {
  width: auto;
  height: 50%;
  // border: 1px solid red;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  // padding: 5px;
  margin-right: 20px;

  .textWrapper {
    width: auto;
    height: 100%;
    // border: 1px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 10px;

    p {
      font-size: 0.8rem;
      font-weight: 500;
      color: #667085;
    }
  }
  .lineDiv {
    width: 1px;
    height: 80%;
    background-color: #a4adbb;
    margin: 0px 5px;
  }
  .iconWrapper {
    height: 100%;
    aspect-ratio: 1/1;
    // border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;

    .iconDiv {
      aspect-ratio: 1/1;
      height: 70%;
      display: flex;
      justify-content: center;
      align-items: center;
      // border: 1px solid red;
    }
  }
}
