@import "../styles/mixins.module";
@import "../styles/variables.module";
@import "../styles/themes.module";

.rootLayoutWrapper {
  position: relative;
  height: 100vh;
  height: 100dvh;
  min-height: 100dvh;
  @include hide-scrollbar;
  display: grid;
  grid-template-rows: 80px minmax(0, 1fr);
  grid-template-columns: 100%;
  grid-template-areas:
    "headerWrapper"
    "contentWrapper";
  z-index: 1;
  // background: $app-bg;
  box-sizing: border-box;
  @include themed() {
    background-color: t(app-bg);
  }
  // background-color: #f0f0f0;

  // background-image: linear-gradient(
  //   to right top,
  //   #f0f0f0,
  //   #f2f2f2,
  //   #f3f3f5,
  //   #f4f5f8,
  //   #f5f7fa
  // );

  // width: 90vw;
  // height: 90dvh;
  // min-height: 90vh;
  // border: 1px solid red;
  // margin-top: 10px;
  // margin-left: auto;
  // margin-right: auto;

  .contentWrapper {
    @include fhw;
    @include flex-container(flex-start, flex-start);
    // border: 1px solid blue;
  }
}
