@import "../../../../styles/mixins.module";
@import "../../../../styles/variables.module";

.card {
  width: 280px;
  // aspect-ratio: 3/1.3;
  height: 100px;
  margin: 2% 2%;
  display: grid;
  grid-template-columns: minmax(0, 1fr) auto;
  grid-template-rows: 30% 40% 30%;
  grid-template-areas:
    "breadCrumbsWrapper linkBtnWrapper"
    "titleWrapper linkBtnWrapper"
    "topicsCountWrapper linkBtnWrapper";
  // border: 1px solid red;

  padding: 0.8rem;
  box-sizing: border-box;
  background-color: white;
  @include card-bg-shadow;

  &__breadCrumbsWrapper {
    @include fhw;
    grid-area: breadCrumbsWrapper;
    // border: 1px solid lightblue;
    @include flex-container(flex-start, center);
    p {
      font-size: 0.8rem;
    }
    &__chevIconDiv {
      @include flex-container(center, center);
      height: 15px;
      // border: 1px solid red;
      aspect-ratio: 1/1;
      margin-left: 2px;
    }
  }
  &__titleWrapper {
    @include fhw;
    grid-area: titleWrapper;
    // border: 1px solid orange;
    @include flex-container(flex-start, center);
    p {
      font-size: 0.9rem;
      font-weight: 500;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      width: 95%;
    }
  }
  &__topicsCountWrapper {
    @include fhw;
    grid-area: topicsCountWrapper;
    // border: 1px solid lightgreen;
    &__badgeContainer {
      width: 100px;
      height: 80%;
      //   border: 1px solid red;
    }
  }
  &__linkBtnWrapper {
    height: 100%;
    aspect-ratio: 1/2;
    grid-area: linkBtnWrapper;
    // border: 1px solid salmon;
    @include flex-container(flex-end, center);

    &__btnWrapper {
      width: 100%;
      aspect-ratio: 1/1;
      @include flex-container(center, center);
      // border: 1px solid red;
    }
  }
}
