@import "../../../../styles/mixins.module";
@import "../../../../styles/variables.module";

.listWrapper {
  width: 100%;
  height: 100%;
  // border: 1px solid red;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  @include scroll($dir: y);
  @media (max-width: 768px) {
    justify-content: center;
    align-content: flex-start;
  }
}
