@import "../../../styles/mixins.module.scss";

.landingPageWrapper {
  @include fhw;
  @include flex-container(center, center);

  .innerWrapper {
    width: 100%;
    height: 100%;
    // /* border: 1px solid red; */
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    @include scroll($dir: y);
  }
}
