@import "../../../../styles/mixins.module";
@import "../../../../styles/variables.module";

.formWrapper {
  width: 100%;
  height: 100%;
  // border: 1px solid red;
  @include flex-container(flex-start, flex-start);
  margin-left: 20px;
  @media (max-width: 768px) {
    @include flex-container(center, flex-start);
    margin-left: unset;
  }

  .formContainer {
    width: 70%;
    height: 60%;
    // border: 1px solid red;
    display: grid;
    grid-template-areas:
      "titleCell"
      "statusCell"
      "buttonCell";
    grid-template-columns: 100%;
    grid-template-rows: 120px 150px 50px;
    margin-top: 20px;

    @media (max-width: 768px) {
      width: 90%;
      height: 95%;
    }

    &__titleCell {
      grid-area: titleCell;
      @include fhw;
    }

    &__buttonCell {
      grid-area: buttonCell;
      @include fhw;
      // border: 1px solid red;
      @include flex-container(flex-end, center);

      button {
        height: 30px;
        width: auto;
        padding-left: 10px;
        padding-right: 10px;
        background-color: #635db0;
        outline: none;
        border: none;
        color: white;
        cursor: pointer;
      }
    }
    &__statusCell {
      grid-area: statusCell;
      @include fhw;
      // border: 1px solid blue;
      // @include flex-container(flex-end, center);
    }
  }
}

.formGroup {
  width: 100%;
  height: 100%;
  // border: 1px solid blue;

  &__inputGroup {
    width: 100%;
    height: calc(100% - 30px);
    // border: 1px solid blue;
    padding: 10px 20px;
    // border: 1px solid #d0d5dd;
    border-radius: 15px;
    background-color: white;
    overflow: hidden;

    &__labelDiv {
      // border: 1px solid salmon;
      width: 100%;
      height: 20px;
      @include flex-container(flex-start, center);
      // background-color: ;
      &__labelTag {
        color: #a1a7c4;
        font-size: 0.8rem;
        font-weight: 500;
      }
    }
    &__inputDiv {
      // border: 1px solid skyblue;
      width: 100%;
      height: calc(100% - 20px);
      @include flex-container(flex-start, flex-start);
      input {
        width: 100%;
        height: 100%;
        @include flex-container(flex-start, flex-start);
        text-align: start;
        outline: none;
        border: none;
        background: none;
      }
    }
  }

  &__errorGroup {
    // border: 1px solid black;
    width: 100%;
    height: 30px;
    @include flex-container(flex-start, center);
    p {
      color: #f0142f;
      font-size: 0.7rem;
      font-weight: 500;
      margin-left: 5px;
    }
  }
}

.statusInputWrapper {
  width: auto;
  height: 100%;
  @include flex-container(flex-start, center);
  // border: 1px solid red;
  margin-left: 10px;

  .radioBtnWrapper {
    width: auto;
    height: 30px;
    border: 1px solid #d0d5dd;
    border-radius: 10px;
    @include flex-container(flex-start, center);
    cursor: pointer;

    &--activeBtn {
      border: 1px solid #789980;
      background-color: #deeedc;
    }
    &--inactiveBtn {
      border: 1px solid #d27e67;
      background-color: #fde7ea;
    }

    .radioDotDiv {
      height: 100%;
      aspect-ratio: 1/1;
      @include flex-container(center, center);

      .radioDot {
        border-radius: 100%;
        aspect-ratio: 1/1;
        width: 40%;
        background-color: #a4adbb;
      }
      &--activeDot {
        background-color: #789980 !important;
      }
      &--inactiveDot {
        background-color: #d27e67 !important;
      }
    }
    .radioLabelDiv {
      width: auto;
      height: 100%;
      @include flex-container(flex-start, center);
      // border: 1px solid blue;
      padding: 0px 8px 0px 0px;

      p {
        font-size: 0.6rem;
      }
    }
  }
}
