@import "../../styles/mixins.module";
@import "../../styles/variables.module";

.rootLayoutWrapper {
  position: relative;
  height: 100vh;
  height: 100dvh;
  min-height: 100dvh;
  @include hide-scrollbar;
  display: grid;
  grid-template-rows: 80px minmax(0, 1fr);
  grid-template-columns: 100%;
  grid-template-areas:
    "headerWrapper"
    "contentWrapper";
  z-index: 1;
  background: $app-bg;
  box-sizing: border-box;

  // width: 90vw;
  // height: 90dvh;
  // min-height: 90vh;
  // border: 1px solid red;
  // margin-top: 10px;
  // margin-left: auto;
  // margin-right: auto;

  .contentWrapper {
    @include fhw;
    @include flex-container(flex-start, flex-start);
    // border: 1px solid blue;
  }
}
