@import "../../../../styles/mixins.module";

.breadCrumbsBar {
  width: 100%;
  height: 100%;
  // border: 1px solid red;
  @include flex-container(flex-start, center);
  padding-left: 8px;

  .breadcrumbWrapper {
    width: auto;
    height: 90%;
    @include flex-container(center, center);
    // border: 1px solid red;
    margin-left: 5px;

    &__link {
      width: auto;
      height: 100%;
      // border: 1px solid green;
      @include flex-container(flex-start, center);

      p {
        font-size: 0.8rem;
        letter-spacing: 0.3px;
        font-weight: 500;
        @include small-device {
          font-size: clamp(
            0.7rem,
            -0.10000000000000031rem + 4.000000000000002vw,
            1.1rem
          ) !important;
        }
      }

      &--normalText {
        color: #7e8da4;
        border: 1px solid transparent;
        &:hover {
          border-bottom: 1px solid #7e8da4;
        }
      }

      &--currentText {
        color: #6167a0;
        border: none !important;
      }
    }

    &__iconWrapper {
      height: 100%;
      width: 24px;
      // border: 1px solid blue;
      @include flex-container(center, center);
      &__iconDiv {
        width: 15px;
        aspect-ratio: 1/1;
        @include flex-container(center, center);
        // border: 1px solid blue;
        max-width: 24px;
        max-height: 24px;
      }
    }
  }
}
