@import "../../../styles/mixins.module";
@import "../../../styles/variables.module";
@import "../../../styles/themes.module";

.searchPageWrapper {
  position: absolute;
  width: 400px;
  aspect-ratio: 1/1.2;
  @include themed() {
    background-color: t(card-bg-secondary);
  }
  //   border: 1px solid red;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  margin-top: 20px;
  z-index: 999;
  @include themed() {
    box-shadow: t(card-box-shadow-secondary);
  }

  @media (max-width: 768px) {
    width: 100%;
    height: calc(100% - 80px);
    bottom: 0px;
  }
  .searchHeaderWrapper {
    width: 100%;
    height: 30px;
    // border: 1px solid salmon;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
    padding-right: 8px;
    .closeBtnIconDiv {
      height: 18px;
      aspect-ratio: 1/1;
      display: flex;
      justify-content: center;
      align-items: center;
      // border: 1px solid red;
      @include themed() {
        background-color: t(app-scheme-color);
      }
      border-radius: 100%;
      cursor: pointer;
      margin-right: 2px;
      padding: 3px;
    }
  }
  .searchBarWrapper {
    width: 100%;
    height: 50px;
    // border: 1px solid blue;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    @include themed() {
      border-bottom: 1px solid t(division-border-color);
    }

    .searchIconWrapper {
      height: 100%;
      aspect-ratio: 1/1;
      // border: 1px solid red;
      display: flex;
      justify-content: center;
      align-items: center;
      .searchIconDiv {
        width: 40%;
        aspect-ratio: 1/1;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .divisionLine {
      width: 1px;
      height: 40%;
      @include themed() {
        background-color: t(secondary-color);
      }
      margin: 0px 0px;
    }
    .searchInputWrappper {
      flex: 1;
      height: 100%;
      // border: 1px solid green;

      input {
        width: 100%;
        height: 100%;
        border: none;
        // border-bottom: 1px solid red;
        outline: none;
        box-sizing: border-box;
        padding: 0px 8px;
        background: none;
        @include themed() {
          color: t(primary-color);
        }

        @include small-device {
          font-size: clamp(
            0.85rem,
            0.34999999999999976rem + 2.5000000000000013vw,
            1.1rem
          ) !important;
        }

        &::placeholder {
          color: #c2c2c2;
          font-size: 0.7rem;
          font-style: italic;
          @include small-device {
            font-size: clamp(
              0.7rem,
              0.19999999999999996rem + 2.5vw,
              0.95rem
            ) !important;
          }
        }
      }
    }
  }
  .searchFilterWrapper {
    width: 100%;
    height: 40px;
    // border: 1px solid green;

    @include themed() {
      border-bottom: 1px solid t(division-border-color);
    }
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    box-sizing: border-box;
    padding-left: 15px;

    .filterLink {
      width: auto;
      height: 80%;
      margin-right: 15px;
      justify-content: center;
      align-items: center;
      padding: 2px;
      border-bottom: 2px solid transparent;

      p {
        font-weight: 500;
        font-size: 0.75rem;
        @include themed() {
          color: t(primary-color);
        }

        @include small-device {
          font-size: clamp(
            0.8rem,
            0.40000000000000013rem + 1.9999999999999998vw,
            1rem
          ) !important;
        }
      }

      &--activeLink {
        @include themed() {
          border-bottom: 2px solid t(app-scheme-color);
        }
        p {
          @include themed() {
            color: t(app-scheme-color);
          }
          font-weight: 500;
        }
      }
    }
  }
  .searchListWrapper {
    width: 100%;
    height: calc(100% - 120px);
    // border: 1px solid salmon;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    @include scroll($dir: y);
    padding: 15px 0px;
  }
}

.searchItemLink {
  width: 100%;
  height: 70px;
  @include division-border();
  padding: 0px 5%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  box-sizing: border-box;

  &:hover {
    background-color: #6167a027;
  }

  .searchItemWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;

    .searchedKeyWrapper {
      width: 100%;
      height: 50%;
      // border: 1px solid springgreen;
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
      p {
        font-size: 0.8rem;
        font-weight: 500;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        @include themed() {
          color: t(primary-color);
        }
        @include small-device {
          font-size: clamp(
            0.85rem,
            0.34999999999999976rem + 2.5000000000000013vw,
            1.1rem
          ) !important;
        }
      }
    }
    .breadCrumbsRow {
      width: 100%;
      height: 50%;
      // border: 1px solid $app-scheme-color;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
    }
  }
}

.breadcrumbsWrapper {
  width: auto;
  height: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .textWrapper {
    width: auto;
    max-width: 180px;
    height: 100%;
    // border: 1px solid red;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    p {
      font-size: 0.75rem;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      @include themed() {
        color: t(secondary-color);
      }
      @include small-device {
        font-size: clamp(
          0.75rem,
          0.3500000000000001rem + 1.9999999999999998vw,
          0.95rem
        ) !important;
      }
    }
    &--active {
      p {
        @include themed() {
          color: t(app-scheme-color);
        }
        font-weight: 600;
      }
    }
  }
  .chevIconWrapper {
    height: 100%;
    aspect-ratio: 1/2;
    // border: 1px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;

    .chevIconDiv {
      width: 80%;
      aspect-ratio: 1/1;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
