@import "../../../styles/mixins.module";
.coursePageWrapper {
  width: 90%;
  height: 100%;
  @include flex-container(flex-start, flex-start);
  // border: 1px solid blue;

  @media (max-width: 768px) {
    width: 100%;
    height: 100%;
  }

  &__formWrapper {
    width: 70%;
    height: 95%;
    // border: 1px solid red;
    @include flex-container(flex-start, flex-start);

    @media (max-width: 768px) {
      width: 100%;
      height: 100%;
    }
  }
}
