@import "../../../../styles/mixins.module";

$fontSize: 0.9rem;
$codeFontSize: 0.9rem;
$fontColorPrimaary: #1c3553;
$fontColorSecondary: #101828;

.formWrapper {
  @include fhw;
  width: 100%;
  height: 100%;
  @include flex-container(center, flex-start);

  .formInnerWrapper {
    width: 95%;
    height: 95%;
    @include flex-container(flex-start, flex-start);
    position: relative;
    overflow: hidden;

    .formContainer {
      height: 100%;
      @include transistion($type: width, $time: 0.5s);

      &--expandForm {
        width: 100%;
        position: relative;
      }
      &--shrinkForm {
        width: 70%;
        position: relative;
      }
      @media (max-width: 768px) {
        // background-color: rgba(135, 207, 235, 0.466);
        @include transistion($type: left, $time: 0.5s);
        position: absolute;

        width: 100%;
        &--expandForm {
          left: -100%;
        }

        &--shrinkForm {
          left: 0%;
        }
      }

      .formGridContainer {
        width: 95%;
        height: 100%;
        display: grid;
        grid-template-areas:
          "titleCell titleCell"
          "durationCell statusCell"
          "editorCell editorCell"
          "buttonCell buttonCell";
        grid-template-columns: calc(50% - 5px) calc(50% - 5px);
        grid-template-rows: 120px 25% auto 50px;
        grid-gap: 10px;
        @include scroll($dir: y);
        padding: 20px 0px;

        @media (max-width: 768px) {
          width: 100%;
          grid-template-areas:
            "titleCell"
            "durationCell"
            "statusCell"
            "editorCell"
            "buttonCell";
          grid-template-columns: 100%;
          grid-template-rows: 120px 20% 20% auto 50px;
          grid-gap: unset;
          grid-column-gap: 10px;
        }

        .titleCell {
          grid-area: titleCell;
          @include fhw;
        }
        .durationCell {
          grid-area: durationCell;
          @include fhw;
          @include flex-container(flex-start, center);
          justify-content: space-between;
        }
        .statusCell {
          grid-area: statusCell;
          @include fhw;
        }
        .editorCell {
          grid-area: editorCell;
          @include fhw;
          position: relative;
          display: flex;
          flex-direction: column;
          padding: 0px 0px;
          // border: 1px solid red;

          &__editorHeaderWrapper {
            height: 50px;
            width: 100%;
            border-left: 1px solid #b4b2b270;
            border-right: 1px solid #b4b2b270;
            border-top: 1px solid #b4b2b270;
            border-radius: 5px 5px 0px 0px;

            @include flex-container(flex-start, center);
            background-color: white;
            padding: 0px 20px;
            &__labelWrapper {
              width: 50%;
              height: 100%;
              @include flex-container(flex-start, center);
              p {
                color: #101828;
                font-size: 0.7rem;
              }
            }

            &__previewBtnWrapper {
              width: 50%;
              height: 100%;
              @include flex-container(flex-end, center);

              button {
                width: auto;
                background-color: #635db0;
                height: 60%;
                padding: 0px 10px;
                border: none;
                outline: none;
                color: white;
                cursor: pointer;
              }
            }
          }

          &__editorContainer {
            width: 100%;
            height: 400px;
            @include flex-container(flex-start, center);
            // background-color: white;
            // border: 2px solid darkred;
            border: 1px solid #b4b2b270;
            border-radius: 0px 0px 8px 8px;
            background-color: white;
          }
          &__errorGroup {
            width: 100%;
            height: 30px;
            @include flex-container(flex-start, center);
            // border: 1px solid green;
            p {
              color: #f0142f;
              font-size: 0.7rem;
              font-weight: 500;
              margin-left: 5px;
            }
          }
        }

        .buttonCell {
          grid-area: buttonCell;
          @include fhw;
          //   border: 1px solid green;
          @include flex-container(flex-end, center);
          button {
            height: 30px;
            width: auto;
            padding-left: 10px;
            padding-right: 10px;
            background-color: #635db0;
            outline: none;
            border: none;
            color: white;
            cursor: pointer;
            &:disabled {
              background-color: #635db0;
              cursor: not-allowed;
            }

            .spinnerDiv {
              // border: 1px solid red;
              height: 80%;
              @include flex-container(center, center);
            }
          }
        }
      }
    }

    .previewWrapper {
      height: 100%;
      @include transistion($type: right, $time: 0.5s);
      // border: 1px solid darkblue;
      @include flex-container(center, center, $direction: column);

      width: 30%;
      &--showPane {
        right: 0%;
        position: absolute;
        width: 30%;
      }
      &--hidePane {
        position: absolute;
        right: -30%;
        width: 30%;
      }

      &__headerWrapper {
        height: 50px;
        width: 100%;
        // border: 1px solid red;
        display: inline-flex;

        &__toggleWrapper {
          height: 100%;
          aspect-ratio: 1/1;
          // border: 1px solid gold;
          @include flex-container(center, center);
          cursor: pointer;
        }

        &__textWrapper {
          width: calc(100% - 50px);
          height: 100%;
          // border: 1px solid green;
          @include flex-container(flex-start, center);

          p {
            font-size: 0.7rem;
            font-weight: 600;
            letter-spacing: 2px;
            white-space: nowrap;
            // border: 1px solid orange;
            padding: 0;
            margin-left: 8px;
          }
        }
      }

      &__contentWrapper {
        height: calc(100% - 50px);
        width: 100%;
        background-color: white;
        padding: 10px 20px;
        word-break: break-all;
        display: flex;
        // @include scroll($dir: y);
        // border: 1px solid red;
        @include scroll($dir: y);
        p {
          margin-bottom: 10px;
          width: 80%;
          color: $fontColorPrimaary;
          font-size: $fontSize;
          word-break: break-all;
          font-weight: 400;
          line-height: 1.8;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
          margin-top: 20px;
          margin-bottom: 25px;
          font-weight: bold;
          color: $fontColorSecondary;
          position: relative;
          &::after {
            position: absolute;
            content: "";
            left: 0px;
            bottom: -10px;
            background-color: #635db0;
            width: 10%;
            height: 3px;
            border-radius: 8px;
          }
        }
        code {
          color: #e31b54;
          background-color: #ffe4e8;
          padding: 2px 8px;
          border-radius: 5px;
          font-weight: 600;
          font-family: "Source Code Pro", monospace !important;
          font-size: $codeFontSize;
          white-space: nowrap;
        }
        pre {
          background-color: #011627;
          padding: 20px 20px;
          border-radius: 0.8rem !important;
          @include scroll($dir: x);
          margin-top: 20px;
          margin-bottom: 20px;
          position: relative;
          overflow-x: scroll;

          &::-webkit-scrollbar {
            display: none;
          }
          code {
            color: white;
            background-color: transparent !important;
            padding: 0px !important;
            @include scroll($dir: x);
            font-weight: 400 !important;
            line-height: 1.5 !important;
            font-family: "Source Code Pro", monospace !important;
            font-size: $codeFontSize;
            white-space: unset !important;
            @include scroll($dir: x);
          }
        }

        blockquote {
          margin: 0;
          padding-left: 10px;
          border-left: 3px solid #ccc;
          color: #666;
        }

        ul,
        ol {
          margin-bottom: 10px;
          padding-left: 20px;
          word-break: break-all;
        }
        li {
          color: $fontColorPrimaary;
          font-size: $fontSize;
          word-break: break-all;
          margin: 10px 0px;
          line-height: 1.8;
        }

        hr {
          margin-top: 20px;
          margin-bottom: 20px;
        }

        figcaption {
          font-size: 0.6rem;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
        strong {
          color: #635db0;
        }
      }

      @media (max-width: 768px) {
        width: 100%;

        &--showPane {
          right: -100%;
          position: absolute;
        }
        &--hidePane {
          position: absolute;
          right: 0%;
        }
      }
    }
  }
}

.formGroup {
  width: 100%;
  height: 100%;
  &__inputGroup {
    width: 100%;
    height: calc(100% - 30px);
    // border: 1px solid orange;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #b4b2b270;

    &__labelDiv {
      width: 100%;
      height: 20px;
      p {
        color: #101828;
        font-size: 0.7rem;
      }
    }
    &__inputDiv {
      width: 100%;
      height: calc(100% - 20px);
      background-color: skyblue;
      @include flex-container(flex-start, center);
      background-color: #ecf2ffb9;
      border-radius: 8px;

      input {
        width: 100%;
        height: 100%;
        border: none;
        background: none;
        outline: none;
        padding: 0px 10px;
      }
    }
  }

  &__errorGroup {
    height: 30px;
    width: 100%;
    // border: 1px solid darkred;
    @include flex-container(flex-start, center);

    p {
      color: #f0142f;
      font-size: 0.7rem;
      font-weight: 500;
      margin-left: 5px;
    }
  }
}

.durationFormGroup {
  height: 100%;
  width: 30%;
  // border: 1px solid blue;
  @include flex-container(center, center, $direction: column);

  .errorGroup {
    width: 100%;
    height: 30px;
    @include flex-container(flex-start, center);

    p {
      color: #f0142f;
      font-size: 0.7rem;
      font-weight: 500;
      margin-left: 5px;
    }
  }
}

.durationInputWrapper {
  width: 100%;
  height: calc(100% - 30px);
  //   border: 1px solid rgb(30, 0, 255);
  @include flex-container(flex-start, center, $direction: column);
  padding: 10px;
  background-color: white;
  border-radius: 15px;

  border: 1px solid #b4b2b270;

  .labelGroup {
    height: 20px;
    width: 100%;
    // border: 1px solid red;
    p {
      color: #101828;
      font-size: 0.7rem;
    }
  }
  .inputBtnGroup {
    height: calc(100% - 20px);
    width: 100%;
    // border: 1px solid springgreen;
    display: inline-flex;

    .inputWrapper {
      width: auto;
      height: 100%;
      // border: 1px solid blue;
      display: inline-flex;

      input {
        width: 100%;
        height: 100%;
        outline: none;
        background-color: #ecf2ffb9;
        border-radius: 5px;
        border: none;
        text-align: center;
        -moz-appearance: textfield;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          -webkit-appearance: none; /* Hide buttons in Chrome, Safari, Edge, and Opera */
          margin: 0; /* Removes the margin, preventing any default offset */
        }
      }
    }

    .buttonsWrapper {
      aspect-ratio: 1/2;
      height: 100%;
      @include flex-container(flex-start, flex-start, $direction: column);
      //   border: 1px solid black;

      .btnContainer {
        height: 100%;
        width: 100%;
        @include flex-container(center, center);
        &:first-of-type {
          transform: rotate(-90deg);
        }
        &:last-of-type {
          transform: rotate(90deg);
        }

        button {
          width: 60%;
          aspect-ratio: 1/1;
          // border: 1px solid gold;
          @include flex-container(center, center);
          cursor: pointer;
          background: none;
          border: none;
        }
      }
    }
  }
}

.statusInputGroup {
  @include flex-container(flex-start, center, $direction: column);
  // border: 1px solid red;
  height: calc(100% - 30px);
  border: 1px solid #b4b2b270;
  border-radius: 8px;
  padding: 10px;
  background-color: white;
  &__labelDiv {
    width: 100%;
    height: 30px;
    p {
      color: #101828;
      font-size: 0.7rem;
    }
  }
  &__inputBtnWrapper {
    width: 100%;
    height: calc(100% - 30px);
    @include flex-container(flex-start, center);
    input {
      display: none;
    }

    .btnWrapper {
      width: auto;
      height: 90%;
      padding: 0px 10px 0px 10px;
      border-radius: 8px;
      @include flex-container(center, center);
      border: 1px solid #b4b2b25c;
      cursor: pointer;

      &:last-child {
        margin-left: 20px;
      }

      p {
        font-size: 0.7rem;
      }

      &--activeBtn {
        border: 1px solid #789980;
        background-color: #deeedc;
        color: #789980;
      }

      &--inactiveBtn {
        margin-left: 10px;
        border: 1px solid #d27e67;
        background-color: #fde7ea;
        color: #d5765c;
      }

      .radioDotDiv {
        height: 100%;
        aspect-ratio: 1/2;
        @include flex-container(center, center);
        margin-right: 5px;

        .radioDot {
          aspect-ratio: 1/1;
          width: 70%;
          border-radius: 50%;
          background-color: #a4adbb;

          &--activeDot {
            background-color: #789980 !important;
          }
          &--inactiveDot {
            background-color: #d27e67 !important;
          }
        }
      }
    }
  }
}
